/***********************************************************************************************************************************************************************************************************/
/*Page Content*/
@mixin pageIndexContentWrap_MT_Style{
	position: relative;
	display: flex;
	overflow: visible;
	box-sizing: border-box;
	flex-flow: column nowrap; /*To be changed*/
	justify-content: flex-start;
	align-items: flex-start;
	width: auto;
	margin: 20px 0px 0px 0px;
}

@mixin pageIndexContentWrap_LD_Style{
	position: relative;
	display: flex;
	overflow: visible;
	box-sizing: border-box;
	flex-flow: row nowrap; /*changed*/
	justify-content: flex-start;
	align-items: flex-start;
	width: 1080px; /*changed*/
	margin: 20px auto 0px auto;
}



@mixin policyDetailsItem_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
}



@mixin policyDateDetailsWrapper{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	margin: 0px 5px;
}



@mixin policyDateTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: italic normal 24px calibri; /*To be changed*/
	color: #303238;
}

@mixin policyDateTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: italic normal 26px calibri; /*changed*/
	color: #303238;
}

@mixin policyDateTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: italic normal 28px calibri; /*changed*/
	color: #303238;
}



@mixin policyUpToDateTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: normal normal 24px calibri; /*To be changed*/
	color: #303238;
}

@mixin policyUpToDateTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: normal normal 26px calibri; /*changed*/
	color: #303238;
}

@mixin policyUpToDateTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: normal normal 28px calibri; /*changed*/
	color: #303238;
}



@mixin policyBigLabelTxt_MT_Style{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;
	word-break: keep-all;
	font: normal normal 30px calibri; /*To be changed*/
	color: #303238;
	margin: 25px 5px;
}

@mixin policyBigLabelTxt_Laptop_Style{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;
	word-break: keep-all;
	font: normal normal 35px calibri; /*changed*/
	color: #303238;
	margin: 25px 5px;
}

@mixin policyBigLabelTxt_Desktop_Style{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;
	word-break: keep-all;
	font: normal normal 40px calibri; /*changed*/
	color: #303238;
	margin: 25px 5px;
}



@mixin policyTxtFont_MT_Style{
	font-family: calibri;
	font-size: 20px; /*To be changed*/
	font-style: normal;
	color: #303238;
}

@mixin policyTxtFont_Laptop_Style{
	font-family: calibri;
	font-size: 22px; /*changed*/
	font-style: normal;
	color: #303238;
}

@mixin policyTxtFont_Desktop_Style{
	font-family: calibri;
	font-size: 24px; /*changed*/
	font-style: normal;
	color: #303238;
}



@mixin policyParagraph_Style{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	white-space: normal;
	word-break: keep-all;
	margin: 0px 5px;
}



@mixin policyAgreeTermsWrap_Style{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	margin: 15px 5px;
	text-align: center;
}



@mixin agreeTermsCheckbox_Style{
	display: inline-block;
	max-width: 100%;
}



@mixin agreeCheckboxSize_MT_Style{
	--cusCheckboxWidthHeight: 24px;
}
@mixin agreeCheckboxSize_Laptop_Style{
	--cusCheckboxWidthHeight: 26px;
}
@mixin agreeCheckboxSize_Desktop_Style{
	--cusCheckboxWidthHeight: 28px;
}




@mixin agreeCheckboxFontSize_MT_Style{
	--custCheckboxFSize: 24px;
}
@mixin agreeCheckboxFontSize_Laptop_Style{
	--custCheckboxFSize: 26px;
}
@mixin agreeCheckboxFontSize_Desktop_Style{
	--custCheckboxFSize: 28px;
}



@mixin agreeCheckboxLabel_Style{
	--cusCheckboxFStyle: normal;
	--cusCheckboxFWeight: normal;
	--custCheckboxFMTSize: 15px;
	--custCheckboxFLDSize: 18px;
	--cusCheckboxColor: black;
}



@mixin rateServiceBtn_Style{
	--normBtnPadding: 7px;
	--normBtnBorderWidth: 1px;
	--normBtnRadius: 7px;
	--normBtnFWeight: normal;
	--normBtnFcolor: #ffffff;
	--normBtnHovActFColor: #ffffff;
}



@mixin rateServiceBtnFSize_MT_Style{
	--normBtnFSize: 24px;
}
@mixin rateServiceBtnFSize_Laptop_Style{
	--normBtnFSize: 26px;
}
@mixin rateServiceBtnFSize_Desktop_Style{
	--normBtnFSize: 28px;
}



@mixin rateServiceBtnWidth_MT_Style{
	--normBtnWidth: auto;
}
@mixin rateServiceBtnWidth_LD_Style{
	--normBtnWidth: auto;
}



@mixin rateServiceEnabledBtn_Style{
	--normBtnBorderColor: #237DB6;
	--normBtnBgColor: #237DB6;
	--normBtnHovActBgColor: #0E8EF1;
}



@mixin rateServiceDisabledBtn_Style{
	--normBtnBorderColor: gray;
	--normBtnBgColor: gray;
	--normBtnHovActBgColor: gray;
}
/*Page Content*/
/***********************************************************************************************************************************************************************************************************/