/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "./Global Style/Global_Mixin";
@import "./Global Style/Rostrap_Global";
@import "index_Mixin";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{	
	--cusCheckboxMTWidth: 16px;
	--cusCheckboxLDWidth: 20px;
	--cusCheckboxMTHeight: 16px;
	--cusCheckboxLDHeight: 20px;
	--cusCheckboxBorderWidth: 1px;
	--cusCheckboxBorderColor: gray;


	--normBtnMWidth: 100px;
	--normBtnTWidth: 100px;
	--normBtnLWidth: 110px;
	--normBtnDWidth: 110px;
	--normBtnPadding: 7px;
	--normBtnBorderWidth: 1px;
	--normBtnBorderColor: #237DB6;
	--normBtnRadius: 7px;
	--normBtnFWeight: normal;
	--normBtnFMTSize: 12px;
	--normBtnFLDSize: 14px;
	--normBtnBgColor: #237DB6;
	--normBtnFcolor: #ffffff;
	--normBtnHovActFColor: #ffffff;
	--normBtnHovActBgColor: #0E8EF1;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_MT_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_MT_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_Laptop_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_Desktop_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Page Content*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_MT_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}

	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_MT_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_MT_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_MT_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_MT_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	label[for="agreeTermsCheckbox"]{
		@include agreeCheckboxLabel_Style
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_MT_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}

	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_MT_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_MT_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_MT_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_MT_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	label[for="agreeTermsCheckbox"]{
		@include agreeCheckboxLabel_Style
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_LD_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}


	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_Laptop_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_Laptop_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_Laptop_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_Laptop_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	label[for="agreeTermsCheckbox"]{
		@include agreeCheckboxLabel_Style
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_LD_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}

	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_Desktop_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_Desktop_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_Desktop_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_Desktop_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	label[for="agreeTermsCheckbox"]{
		@include agreeCheckboxLabel_Style
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Content*/
/***********************************************************************************************************************************************************************************************************/