/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "./Global Style/Mixin_Global";
@import "./Global Style/Rostrap_Global";
@import "Mixin_index";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{	
	--cusCheckboxFStyle: normal;  
	--cusCheckboxFWeight: normal; 
	--cusCheckboxColor: black;
	--cusCheckboxBorderWidth: 1px;
	--cusCheckboxBorderColor: gray;


	--spinnerWidthHeight: 75px;
}


body{
	background-color: #E8EFFF;
	background-image: url("./src/sampleformbg.jpg");	
	background-position: center;
	background-size: contain;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap .pageHeaderItem{
		@include globalPageHeaderItem_Style;
	}

	.pageHeaderBg-Class{
		@include pageHeaderBackground_Style;
	}

	.pageHeaderWrap .pageHeaderTxt{
		@include globalPageHeaderTxt_MT_Style;
	}

	.pageHeaderWrap .pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap .pageHeaderItem{
		@include globalPageHeaderItem_Style;
	}

	.pageHeaderBg-Class{
		@include pageHeaderBackground_Style;
	}

	.pageHeaderWrap .pageHeaderTxt{
		@include globalPageHeaderTxt_MT_Style;
	}

	.pageHeaderWrap .pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap .pageHeaderItem{
		@include globalPageHeaderItem_Style;
	}

	.pageHeaderBg-Class{
		@include pageHeaderBackground_Style;
	}

	.pageHeaderWrap .pageHeaderTxt{
		@include globalPageHeaderTxt_Laptop_Style;
	}

	.pageHeaderWrap .pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/

/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap .pageHeaderItem{
		@include globalPageHeaderItem_Style;
	}

	.pageHeaderBg-Class{
		@include pageHeaderBackground_Style;
	}

	.pageHeaderWrap .pageHeaderTxt{
		@include globalPageHeaderTxt_Desktop_Style;
	}

	.pageHeaderWrap .pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/



/***********************************************************************************************************************************************************************************************************/
/*Page Content*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_MT_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}

	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_MT_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_MT_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_MT_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_MT_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	.boxme_RoClass{
		@include agreeCheckboxSize_MT_Style;
	}

	label[for="agreeTermsCheckbox-Id"]{
		@include agreeCheckboxFontSize_MT_Style;
		@include agreeCheckboxLabel_Style
	}


	.enabledBtn-Class{
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_MT_Style;
		@include rateServiceBtnWidth_MT_Style;
		@include rateServiceEnabledBtn_Style;
	}


	.disabledBtn-Class{
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_MT_Style;
		@include rateServiceBtnWidth_MT_Style;
		@include rateServiceDisabledBtn_Style;
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/


	/*Enter code modal*/
	.enterCodeModal-Class{
		@include enterCodeModal_Mobile_Style;
	}

	.enterCodeModal-Class .fieldsWrapFlex{
		@include fieldsWrapFlex_Style;
	}

	.fieldsWrapFlex .message-Class{
		@include messageGeneralProps_Style;
		@include messageFSize_MT_Style;
	}
	/*Enter code modal*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_MT_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}

	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_MT_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_MT_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_MT_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_MT_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	.boxme_RoClass{
		@include agreeCheckboxSize_MT_Style;
	}

	label[for="agreeTermsCheckbox-Id"]{
		@include agreeCheckboxFontSize_MT_Style;
		@include agreeCheckboxLabel_Style
	}

	.enabledBtn-Class{
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_MT_Style;
		@include rateServiceBtnWidth_MT_Style;
		@include rateServiceEnabledBtn_Style;
	}

	.disabledBtn-Class{		
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_MT_Style;
		@include rateServiceBtnWidth_MT_Style;
		@include rateServiceDisabledBtn_Style;
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/


	/*Enter code modal*/
	.enterCodeModal-Class{
		@include enterCodeModal_TLD_Style;
	}

	.enterCodeModal-Class .fieldsWrapFlex{
		@include fieldsWrapFlex_Style;
	}

	.fieldsWrapFlex .message-Class{
		@include messageGeneralProps_Style;
		@include messageFSize_MT_Style;
	}
	/*Enter code modal*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_LD_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}


	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_Laptop_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_Laptop_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_Laptop_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_Laptop_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	.boxme_RoClass{
		@include agreeCheckboxSize_Laptop_Style;
	}

	label[for="agreeTermsCheckbox-Id"]{
		@include agreeCheckboxFontSize_Laptop_Style;
		@include agreeCheckboxLabel_Style
	}

	.enabledBtn-Class{
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_Laptop_Style;
		@include rateServiceBtnWidth_LD_Style;
		@include rateServiceEnabledBtn_Style;
	}

	.disabledBtn-Class{		
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_Laptop_Style;
		@include rateServiceBtnWidth_LD_Style;
		@include rateServiceDisabledBtn_Style;
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/


	/*Enter code modal*/
	.enterCodeModal-Class{
		@include enterCodeModal_TLD_Style;
	}

	.enterCodeModal-Class .fieldsWrapFlex{
		@include fieldsWrapFlex_Style;
	}

	.fieldsWrapFlex .message-Class{
		@include messageGeneralProps_Style;
		@include messageFSize_Laptop_Style;
	}
	/*Enter code modal*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.pageContentWrapFlex{
		@include pageIndexContentWrap_LD_Style;
	}

	/*Policy details side*/
	.policyDetailsItem{
		@include policyDetailsItem_Style;
	}

	/*_Policy date details*/
	.policyDateDetailsWrap{
		@include policyDateDetailsWrapper;
	}

	.policyDateTxt{
		@include policyDateTxt_Desktop_Style;
	}

	.policyUpToDateTxt{
		@include policyUpToDateTxt_Desktop_Style;	
	}
	/*_Policy date details*/


	/*_Policy big label*/
	.policyBigLabelTxt{
		@include policyBigLabelTxt_Desktop_Style;
	}
	/*_Policy big label*/


	/*_Policy Paragraph*/
	.policyParagraph-Class{
		@include policyParagraph_Style;
		@include policyTxtFont_Desktop_Style;
	}
	/*_Policy Paragraph*/


	/*_Accept terms and agreement*/
	.policyAgreeTermsWrap{
		@include policyAgreeTermsWrap_Style;
	}

	.agreeTermsCheckbox-Class{
		@include agreeTermsCheckbox_Style;
	}

	.boxme_RoClass{
		@include agreeCheckboxSize_Desktop_Style;
	}

	label[for="agreeTermsCheckbox-Id"]{
		@include agreeCheckboxFontSize_Desktop_Style;
		@include agreeCheckboxLabel_Style
	}

	.enabledBtn-Class{
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_Desktop_Style;
		@include rateServiceBtnWidth_LD_Style;
		@include rateServiceEnabledBtn_Style;
	}

	.disabledBtn-Class{		
		@include rateServiceBtn_Style;
		@include rateServiceBtnFSize_Desktop_Style;
		@include rateServiceBtnWidth_LD_Style;
		@include rateServiceDisabledBtn_Style;
	}
	/*_Accept terms and agreement*/
	/*Policy details side*/


	/*Enter code modal*/
	.enterCodeModal-Class{
		@include enterCodeModal_TLD_Style;
	}

	.enterCodeModal-Class .fieldsWrapFlex{
		@include fieldsWrapFlex_Style;
	}

	.fieldsWrapFlex .message-Class{
		@include messageGeneralProps_Style;
		@include messageFSize_Desktop_Style;
	}
	/*Enter code modal*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Content*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Rogrid Library*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Modal*/
	.modalme_RoClass{
		@include modalmeGeneralProps_Style;
	}

	.modalme_RoClass .modalHeader_RoClass{
		@include modalHeadGeneralProps_Style;
	}

	.modalHeader_RoClass .modalHeadTxt_RoClass{
		@include modalHeadTxtGeneralProps_Style;
		@include modalHeadTxt_MT_Style;
	}

	.modalHeader_RoClass .modalHeadClose_RoClass{
		@include modalHeadClose_MT_Style;
	}
	/*Modal*/


	/*Input field*/
	.cusInputs_RoClass, .cusInputs_RoClass input, .cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include cusInputGeneralProps_Style;
	}

	.cusInputs_RoClass input{
		@include customInputFSize_MT_Style;
	}

	.cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include customInputAnimFSize_MT_Style;
	}
	/*Input field*/


	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_MT_Style;
	}
	/*Normal Button*/


	/*Notification*/
	.notifyMessItem_Suc_RoClass, .notifyMessItem_Failed_RoClass{
		@include notiFSize_MT_Style;
	}

	.notifyCloseItem_Suc_RoClass, .notifyCloseItem_Failed_RoClass{
		@include notiCloseIconSize_MT_Style;
	}
	/*Notification*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Modal*/
	.modalme_RoClass{
		@include modalmeGeneralProps_Style;
	}

	.modalme_RoClass .modalHeader_RoClass{
		@include modalHeadGeneralProps_Style;
	}

	.modalHeader_RoClass .modalHeadTxt_RoClass{
		@include modalHeadTxtGeneralProps_Style;
		@include modalHeadTxt_MT_Style;
	}

	.modalHeader_RoClass .modalHeadClose_RoClass{
		@include modalHeadClose_MT_Style;
	}
	/*Modal*/


	/*Input field*/
	.cusInputs_RoClass, .cusInputs_RoClass input, .cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include cusInputGeneralProps_Style;
	}

	.cusInputs_RoClass input{
		@include customInputFSize_MT_Style;
	}

	.cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include customInputAnimFSize_MT_Style;
	}
	/*Input field*/


	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_MT_Style;
	}
	/*Normal Button*/


	/*Notification*/
	.notifyMessItem_Suc_RoClass, .notifyMessItem_Failed_RoClass{
		@include notiFSize_MT_Style;
	}

	.notifyCloseItem_Suc_RoClass, .notifyCloseItem_Failed_RoClass{
		@include notiCloseIconSize_MT_Style;
	}
	/*Notification*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Modal*/
	.modalme_RoClass{
		@include modalmeGeneralProps_Style;
	}

	.modalme_RoClass .modalHeader_RoClass{
		@include modalHeadGeneralProps_Style;
	}

	.modalHeader_RoClass .modalHeadTxt_RoClass{
		@include modalHeadTxtGeneralProps_Style;
		@include modalHeadTxt_Laptop_Style;
	}

	.modalHeader_RoClass .modalHeadClose_RoClass{
		@include modalHeadClose_Laptop_Style;
	}
	/*Modal*/


	/*Input field*/
	.cusInputs_RoClass, .cusInputs_RoClass input, .cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include cusInputGeneralProps_Style;
	}

	.cusInputs_RoClass input{
		@include customInputFSize_Laptop_Style;
	}

	.cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include customInputAnimFSize_Laptop_Style;
	}
	/*Input field*/


	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Laptop_Style;
	}
	/*Normal Button*/


	/*Notification*/
	.notifyMessItem_Suc_RoClass, .notifyMessItem_Failed_RoClass{
		@include notiFSize_Laptop_Style;
	}

	.notifyCloseItem_Suc_RoClass, .notifyCloseItem_Failed_RoClass{
		@include notiCloseIconSize_Laptop_Style;
	}
	/*Notification*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Modal*/
	.modalme_RoClass{
		@include modalmeGeneralProps_Style;
	}

	.modalme_RoClass .modalHeader_RoClass{
		@include modalHeadGeneralProps_Style;
	}

	.modalHeader_RoClass .modalHeadTxt_RoClass{
		@include modalHeadTxtGeneralProps_Style;
		@include modalHeadTxt_Desktop_Style;
	}

	.modalHeader_RoClass .modalHeadClose_RoClass{
		@include modalHeadClose_Desktop_Style;
	}
	/*Modal*/


	/*Input field*/
	.cusInputs_RoClass, .cusInputs_RoClass input, .cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include cusInputGeneralProps_Style;
	}

	.cusInputs_RoClass input{
		@include customInputFSize_Desktop_Style;
	}

	.cusInputs_RoClass .placeholdme_RoClass, .cusInputs_RoClass .upPlaceholdme_RoClass{
		@include customInputAnimFSize_Desktop_Style;
	}
	/*Input field*/


	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Desktop_Style;
	}
	/*Normal Button*/


	/*Notification*/
	.notifyMessItem_Suc_RoClass, .notifyMessItem_Failed_RoClass{
		@include notiFSize_Desktop_Style;
	}

	.notifyCloseItem_Suc_RoClass, .notifyCloseItem_Failed_RoClass{
		@include notiCloseIconSize_Desktop_Style;
	}
	/*Notification*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Rogrid Library*/
/***********************************************************************************************************************************************************************************************************/