/***********************************************************************************************************************************************************************************************************/
/*Setup Ignore passcodes*/
@mixin settingsControllersWrap_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	padding: 13px;
}
/*Setup Ignore passcodes*/
/***********************************************************************************************************************************************************************************************************/