/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Global_Style";
@import "../../Global Style/Rostrap_Global";
@import "Mixin_Page_AccountSettings";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Navigation*/
	--generalNavMenuPadding: 12px;		
	/*Navigation*/		


	/*Spinner loading*/
	--spinnerWidthHeight: 68px;
	/*Spinner loading*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Side Nav*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Mobile_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Mobile_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Mobile_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Mobile_Style;
	}
	/*Side Nav Menu*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Tablet_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Tablet_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Tablet_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Tablet_Style;
	}
	/*Side Nav Menu*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Laptop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Laptop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Laptop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Laptop_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Laptop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Laptop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Laptop_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Laptop_Style;
	}
	/*Side Nav Menu*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Desktop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Desktop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Desktop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Desktop_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Desktop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Desktop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Desktop_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Desktop_Style;
	}
	/*Side Nav Menu*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Side Nav*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global wrapper Declaration*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.globalWrapper{
		@include globalWrapper_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Global wrapper Declaration*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Laptop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Desktop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Desktop_Style;		
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page top header Label*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.pageTopTitleLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.pageTopTitleLabelWrap-Class .pageTopHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 18px; /*To be changed*/
	}

	.pageTopTitleLabelWrap-Class .pageTopDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 10px; /*To be changed*/
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.pageTopTitleLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.pageTopTitleLabelWrap-Class .pageTopHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 22px; /*changed*/
	}

	.pageTopTitleLabelWrap-Class .pageTopDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 12px; /*To changed*/
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.pageTopTitleLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.pageTopTitleLabelWrap-Class .pageTopHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 25px; /*changed*/
	}

	.pageTopTitleLabelWrap-Class .pageTopDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 16px; /*changed*/
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.pageTopTitleLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.pageTopTitleLabelWrap-Class .pageTopHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 28px; /*changed*/
	}

	.pageTopTitleLabelWrap-Class .pageTopDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 18px; /*changed*/
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page top header Label*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Per setting title*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.titlePerSettingLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 15px; /*To be changed*/
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 8px; /*To be changed*/
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.titlePerSettingLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 17px; /*changed*/
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 10px; /*To changed*/
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.titlePerSettingLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 19px; /*changed*/
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 12px; /*changed*/
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.titlePerSettingLabelWrap-Class{

		@include globalTitleLabelWrap_Style;
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingHeader-Class{

		@include globalTitleHeaderTxt_Style;
		--globalTitleHeaderFSize: 21px; /*changed*/
	}

	.titlePerSettingLabelWrap-Class .titlePerSettingDesc-Class{

		@include globalTitleDescription_Style;
		--globalTitleDescriptionFSize: 14px; /*changed*/
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Per setting title*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Rogrid Library*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_MT_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Mobile_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Mobile_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Mobile_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Mobile_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Mobile_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Mobile_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Mobile_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Mobile_Style;
	}	
	/*Select Dropdown*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_MT_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Tablet_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Tablet_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Tablet_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Tablet_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Tablet_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Tablet_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Tablet_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Tablet_Style;
	}	
	/*Select Dropdown*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Laptop_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Laptop_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Laptop_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Laptop_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Laptop_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Laptop_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Laptop_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Laptop_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Laptop_Style;
	}	
	/*Select Dropdown*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Desktop_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Desktop_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Desktop_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Desktop_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Desktop_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Desktop_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Desktop_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Desktop_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Desktop_Style;
	}	
	/*Select Dropdown*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Rogrid Library*/
/***********************************************************************************************************************************************************************************************************/