/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Mixin_Global";
@import "../../Global Style/Rostrap_Global";
@import "_Mixin_Page_RatingMonitoring";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Navigation*/
	--generalNavMenuPadding: 12px;		
	/*Navigation*/	


	/*Select Dropdown*/
	--selectDropdownFColor: #494C55;
	--selectDropdownBgColor: #ffffff;
	--searchOptsBgColor: #ffffff;
	--searchOptsFColor: #494C55;
	--hoverOptBgColor: #8394B8;
	--hoverOptFColor: #285FF3;
	--selectDropdownScrollSize: 4px;
	--optWrapThumbBgColor: #285FF3;
	/*Select Dropdown*/


	/*Date Range*/	
	--dateRangeBorderRadius: 4px;
	--dateRangeBorderWidth: 2px;
	--dateRangeBorderColor: #285FF3;
	--dateRangePadding: 4px;	
	--dateRangeCalLiteBorderColor: #8394B7;				
	/*Date Range*/


	/*Spinner loading*/
	--spinnerWidthHeight: 68px;
	/*Spinner loading*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*body element*/
*{
	scroll-behavior: smooth;
}
/*body element*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Box Loader*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.boxLoaderIcon_RoClass{
		@include boxLoaderIconSize_Mobile_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.boxLoaderIcon_RoClass{
		@include boxLoaderIconSize_Tablet_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.boxLoaderIcon_RoClass{
		@include boxLoaderIconSize_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.boxLoaderIcon_RoClass{
		@include boxLoaderIconSize_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Box Loader*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Side Nav*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Side Nav Header*/	
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Mobile_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Mobile_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Mobile_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Mobile_Style;
	}
	/*Side Nav Menu*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Tablet_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Tablet_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Tablet_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Tablet_Style;
	}
	/*Side Nav Menu*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Laptop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Laptop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Laptop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Laptop_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Laptop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Laptop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Laptop_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Laptop_Style;
	}
	/*Side Nav Menu*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Desktop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Desktop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Desktop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Desktop_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Desktop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Desktop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Desktop_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Desktop_Style;
	}
	/*Side Nav Menu*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Side Nav*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global wrapper Declaration*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.globalWrapper{
		@include globalWrapper_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Global wrapper Declaration*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Laptop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Desktop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Desktop_Style;		
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Search area*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#searchWrapper{
		@include searchWrapper_Mobile_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_Mobile_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_Mobile_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_MT_Style;		
	}

	#selDropdownPointOfEntryItem-Id{		
		@include selDropdownPointOfEntryItem_Mobile_Style;
	}

	.displayedSelectedIcon_RoClass, .optIcon_RoClass{
		@include selectDropdownIconSize_MT_Style;
	}

	.displayedSelectedText_RoClass, .optText_RoClass{
		@include selectDropdownF_MT_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_MT_Style;
	}

	.displayedSelectedFlex_RoClass .displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Mobile_Style;
	}	

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_Mobile_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_MT_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_MT_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_Mobile_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Mobile_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_MT_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_MT_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_MT_Style;
	}	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#searchWrapper{
		@include searchWrapper_TLD_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_TLD_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_TLD_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_MT_Style;		
	}

	#selDropdownPointOfEntryItem-Id{		
		@include selDropdownPointOfEntryItem_Tablet_Style;
	}

	.displayedSelectedIcon_RoClass, .optIcon_RoClass{
		@include selectDropdownIconSize_MT_Style;
	}

	.displayedSelectedText_RoClass, .optText_RoClass{
		@include selectDropdownF_MT_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_MT_Style;
	}

	.displayedSelectedFlex_RoClass .displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Tablet_Style;
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_MT_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_MT_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Tablet_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_MT_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_MT_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#searchWrapper{
		@include searchWrapper_TLD_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_TLD_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_TLD_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_Laptop_Style;		
	}

	#selDropdownPointOfEntryItem-Id{		
		@include selDropdownPointOfEntryItem_Laptop_Style;
	}

	.displayedSelectedIcon_RoClass, .optIcon_RoClass{
		@include selectDropdownIconSize_Laptop_Style;
	}

	.displayedSelectedText_RoClass, .optText_RoClass{
		@include selectDropdownF_Laptop_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_MT_Style;
	}

	.displayedSelectedFlex_RoClass .displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Laptop_Style;
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_Laptop_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_Laptop_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Laptop_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_Laptop_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_Laptop_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#searchWrapper{
		@include searchWrapper_TLD_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_TLD_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_TLD_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_Laptop_Style;		
	}

	#selDropdownPointOfEntryItem-Id{		
		@include selDropdownPointOfEntryItem_Laptop_Style;
	}

	.displayedSelectedIcon_RoClass, .optIcon_RoClass{
		@include selectDropdownIconSize_Laptop_Style;
	}

	.displayedSelectedText_RoClass, .optText_RoClass{
		@include selectDropdownF_Laptop_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_MT_Style;
	}

	.displayedSelectedFlex_RoClass .displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Desktop_Style;
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_Desktop_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_Desktop_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Desktop_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_Desktop_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_Desktop_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Search area*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Charts*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#chartsWrapper{
		@include chartsWrapper_Style;
	}

	.chartWrapWrapper-Class{
		@include chartWrapWrapper_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar{
		@include chartWrapWrapper_Scrollbar_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-track{
		@include chartWrapWrapper_Track_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb{
		@include chartWrapper_Thumb_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb:hover{
		@include chartWrapWrapper_ThumbHover_Style;
	}

	.engagementDetWrap{
		@include engagementDetWrap_Style;
	}

	.engagementDetWrap .engagementFlex{
		@include engagementFlex_Style;
	}

	.engagementFlex .engagementItem{
		@include engagementItem_Style;
	}

	.engagementItem .engagementLabel{
		@include engagementLabel_MT_Style;
	}

	.engagementDetWrap .engagementValWrap{
		@include engagementValWrap_Style;
	}

	.engagementValWrap .engagementVal-Class{
		@include engagementVal_MT_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap{
		@include respondentTotalDetWrap_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex{
		@include respondentTextIconFlex_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentText-Class{
		@include respondentText_MT_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentIcon-Class{
		@include respondentIcon_MT_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .genCodeBtn-Class{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_MT_Style;
		@include genCodeBtnGeneralProps_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentVal-Class{
		@include respondentVal_MT_Style;
	}

	.chartWrap-Class{
		@include chartWrap_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#chartsWrapper{
		@include chartsWrapper_Style;
	}

	.chartWrapWrapper-Class{
		@include chartWrapWrapper_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar{
		@include chartWrapWrapper_Scrollbar_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-track{
		@include chartWrapWrapper_Track_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb{
		@include chartWrapper_Thumb_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb:hover{
		@include chartWrapWrapper_ThumbHover_Style;
	}

	.engagementDetWrap{
		@include engagementDetWrap_Style;
	}

	.engagementDetWrap .engagementFlex{
		@include engagementFlex_Style;
	}

	.engagementFlex .engagementItem{
		@include engagementItem_Style;
	}

	.engagementItem .engagementLabel{
		@include engagementLabel_MT_Style;
	}

	.engagementDetWrap .engagementValWrap{
		@include engagementValWrap_Style;
	}

	.engagementValWrap .engagementVal-Class{
		@include engagementVal_MT_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap{
		@include respondentTotalDetWrap_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex{
		@include respondentTextIconFlex_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentText-Class{
		@include respondentText_MT_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentIcon-Class{
		@include respondentIcon_MT_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .genCodeBtn-Class{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_MT_Style;
		@include genCodeBtnGeneralProps_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentVal-Class{
		@include respondentVal_MT_Style;
	}

	.chartWrap-Class{
		@include chartWrap_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#chartsWrapper{
		@include chartsWrapper_Style;
	}

	.chartWrapWrapper-Class{
		@include chartWrapWrapper_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar{
		@include chartWrapWrapper_Scrollbar_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-track{
		@include chartWrapWrapper_Track_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb{
		@include chartWrapper_Thumb_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb:hover{
		@include chartWrapWrapper_ThumbHover_Style;
	}

	.engagementDetWrap{
		@include engagementDetWrap_Style;
	}

	.engagementDetWrap .engagementFlex{
		@include engagementFlex_Style;
	}

	.engagementFlex .engagementItem{
		@include engagementItem_Style;
	}

	.engagementItem .engagementLabel{
		@include engagementLabel_Laptop_Style;
	}

	.engagementDetWrap .engagementValWrap{
		@include engagementValWrap_Style;
	}

	.engagementValWrap .engagementVal-Class{
		@include engagementVal_Laptop_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap{
		@include respondentTotalDetWrap_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex{
		@include respondentTextIconFlex_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentText-Class{
		@include respondentText_Laptop_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentIcon-Class{
		@include respondentIcon_Laptop_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .genCodeBtn-Class{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Laptop_Style;
		@include genCodeBtnGeneralProps_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentVal-Class{
		@include respondentVal_Laptop_Style;
	}

	.chartWrap-Class{
		@include chartWrap_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#chartsWrapper{
		@include chartsWrapper_Style;
	}

	.chartWrapWrapper-Class{
		@include chartWrapWrapper_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar{
		@include chartWrapWrapper_Scrollbar_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-track{
		@include chartWrapWrapper_Track_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb{
		@include chartWrapper_Thumb_Style;
	}

	.chartWrapWrapper-Class::-webkit-scrollbar-thumb:hover{
		@include chartWrapWrapper_ThumbHover_Style;
	}

	.engagementDetWrap{
		@include engagementDetWrap_Style;
	}

	.engagementDetWrap .engagementFlex{
		@include engagementFlex_Style;
	}

	.engagementFlex .engagementItem{
		@include engagementItem_Style;
	}

	.engagementItem .engagementLabel{
		@include engagementLabel_Desktop_Style;
	}

	.engagementDetWrap .engagementValWrap{
		@include engagementValWrap_Style;
	}

	.engagementValWrap .engagementVal-Class{
		@include engagementVal_Desktop_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap{
		@include respondentTotalDetWrap_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex{
		@include respondentTextIconFlex_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentText-Class{
		@include respondentText_Desktop_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .respondentIcon-Class{
		@include respondentIcon_Desktop_Style;
	}	

	.engagementDetWrap .respondentTotalDetWrap .respondentVal-Class{
		@include respondentVal_Desktop_Style;
	}

	.engagementDetWrap .respondentTotalDetWrap .respondentTextIconFlex .genCodeBtn-Class{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Desktop_Style;
		@include genCodeBtnGeneralProps_Style;
	}

	.chartWrap-Class{
		@include chartWrap_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Charts*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Questions and cc table*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.summaryResponsesFlex{
		@include summaryResponsesFlex_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class{
		@include summaryResponsesItem_MT_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table{
		@include summaryResponsesItemTable_MT_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table tr{
		@include summaryResponsesItemTableTr_Style;
	}	

	.summaryResponsesFlex .summaryResponsesItem-Class table th{
		@include summaryResponsesItemTableTh_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table td{
		@include summaryResponsesItemTableTd_Style;
	}	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.summaryResponsesFlex{
		@include summaryResponsesFlex_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class{
		@include summaryResponsesItem_MT_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table{
		@include summaryResponsesItemTable_MT_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table tr{
		@include summaryResponsesItemTableTr_Style;
	}	

	.summaryResponsesFlex .summaryResponsesItem-Class table th{
		@include summaryResponsesItemTableTh_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table td{
		@include summaryResponsesItemTableTd_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.summaryResponsesFlex{
		@include summaryResponsesFlex_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class{
		@include summaryResponsesItem_Laptop_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table{
		@include summaryResponsesItemTable_Laptop_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table tr{
		@include summaryResponsesItemTableTr_Style;
	}	

	.summaryResponsesFlex .summaryResponsesItem-Class table th{
		@include summaryResponsesItemTableTh_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table td{
		@include summaryResponsesItemTableTd_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.summaryResponsesFlex{
		@include summaryResponsesFlex_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class{
		@include summaryResponsesItem_Desktop_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table{
		@include summaryResponsesItemTable_Desktop_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table tr{
		@include summaryResponsesItemTableTr_Style;
	}	

	.summaryResponsesFlex .summaryResponsesItem-Class table th{
		@include summaryResponsesItemTableTh_Style;
	}

	.summaryResponsesFlex .summaryResponsesItem-Class table td{
		@include summaryResponsesItemTableTd_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Questions and cc table*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Comment Section*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#commentSectionTextWrap{		
		@include commentSectionTextWrap_Style;
	}

	#commentSectionTextWrap .commentSectionText-Class{
		@include commentSectionText_MT_Style;	
	}

	#commentSectionWrap{		
		@include commentSectionWrap_Style;
		@include noCommentText_MT_Style;
	}

	#commentSectionWrap::-webkit-scrollbar{
		@include commentSection_Scrollbar_Style;	
	}

	#commentSectionWrap::-webkit-scrollbar-track{
		@include commentSection_Track_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb{
		@include commentSection_Thumb_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb:hover{
		@include commentSection_ThumbHover_Style;
	}	

	#commentSectionWrap .commentDetailsWrap{
		@include commentDetailsWrap_Style;	
	}

	.commentDetailsWrap:nth-child(even){
		@include commentDetailsWrapEven_Style;
	}

	.commentDetailsWrap:nth-child(odd){
		@include commentDetailsWrapOdd_Style
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex{
		@include commentHeaderFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentIcon-Class{
		@include commentIcon_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRefNo-Class{
		@include commentRefNo_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRating-Class{
		@include commentRating_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex{
		@include commentRespDetFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex .commentRespDetItem-Class{
		@include commentRespDetItem_MT_Style;
	}	

	#commentSectionWrap .commentDetailsWrap .commentQuestion-Class{
		@include commentQuestion_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentAnswer-Class{
		@include commentAnswer_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentedDatetime-Class{
		@include commentDatetime_MT_Style;
	}	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#commentSectionTextWrap{		
		@include commentSectionTextWrap_Style;
	}

	#commentSectionTextWrap .commentSectionText-Class{
		@include commentSectionText_MT_Style;	
	}

	#commentSectionWrap{		
		@include commentSectionWrap_Style;
		@include noCommentText_MT_Style;
	}

	#commentSectionWrap::-webkit-scrollbar{
		@include commentSection_Scrollbar_Style;	
	}

	#commentSectionWrap::-webkit-scrollbar-track{
		@include commentSection_Track_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb{
		@include commentSection_Thumb_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb:hover{
		@include commentSection_ThumbHover_Style;
	}	

	#commentSectionWrap .commentDetailsWrap{
		@include commentDetailsWrap_Style;	
	}

	.commentDetailsWrap:nth-child(even){
		@include commentDetailsWrapEven_Style;
	}

	.commentDetailsWrap:nth-child(odd){
		@include commentDetailsWrapOdd_Style
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex{
		@include commentHeaderFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentIcon-Class{
		@include commentIcon_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRefNo-Class{
		@include commentRefNo_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRating-Class{
		@include commentRating_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex{
		@include commentRespDetFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex .commentRespDetItem-Class{
		@include commentRespDetItem_MT_Style;
	}	

	#commentSectionWrap .commentDetailsWrap .commentQuestion-Class{
		@include commentQuestion_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentAnswer-Class{
		@include commentAnswer_MT_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentedDatetime-Class{
		@include commentDatetime_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#commentSectionTextWrap{		
		@include commentSectionTextWrap_Style;
	}

	#commentSectionTextWrap .commentSectionText-Class{
		@include commentSectionText_Laptop_Style;	
	}

	#commentSectionWrap{		
		@include commentSectionWrap_Style;
		@include noCommentText_Laptop_Style;
	}

	#commentSectionWrap::-webkit-scrollbar{
		@include commentSection_Scrollbar_Style;	
	}

	#commentSectionWrap::-webkit-scrollbar-track{
		@include commentSection_Track_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb{
		@include commentSection_Thumb_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb:hover{
		@include commentSection_ThumbHover_Style;
	}	

	#commentSectionWrap .commentDetailsWrap{
		@include commentDetailsWrap_Style;	
	}

	.commentDetailsWrap:nth-child(even){
		@include commentDetailsWrapEven_Style;
	}

	.commentDetailsWrap:nth-child(odd){
		@include commentDetailsWrapOdd_Style
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex{
		@include commentHeaderFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentIcon-Class{
		@include commentIcon_Laptop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRefNo-Class{
		@include commentRefNo_Laptop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRating-Class{
		@include commentRating_Laptop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex{
		@include commentRespDetFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex .commentRespDetItem-Class{
		@include commentRespDetItem_Laptop_Style;
	}	

	#commentSectionWrap .commentDetailsWrap .commentQuestion-Class{
		@include commentQuestion_Laptop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentAnswer-Class{
		@include commentAnswer_Laptop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentedDatetime-Class{
		@include commentDatetime_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#commentSectionTextWrap{		
		@include commentSectionTextWrap_Style;
	}

	#commentSectionTextWrap .commentSectionText-Class{
		@include commentSectionText_Desktop_Style;	
	}

	#commentSectionWrap{		
		@include commentSectionWrap_Style;
		@include noCommentText_Desktop_Style;
	}

	#commentSectionWrap::-webkit-scrollbar{
		@include commentSection_Scrollbar_Style;	
	}

	#commentSectionWrap::-webkit-scrollbar-track{
		@include commentSection_Track_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb{
		@include commentSection_Thumb_Style;
	}

	#commentSectionWrap::-webkit-scrollbar-thumb:hover{
		@include commentSection_ThumbHover_Style;
	}	

	#commentSectionWrap .commentDetailsWrap{
		@include commentDetailsWrap_Style;	
	}

	.commentDetailsWrap:nth-child(even){
		@include commentDetailsWrapEven_Style;
	}

	.commentDetailsWrap:nth-child(odd){
		@include commentDetailsWrapOdd_Style
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex{
		@include commentHeaderFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentIcon-Class{
		@include commentIcon_Desktop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRefNo-Class{
		@include commentRefNo_Desktop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentHeaderFlex .commentRating-Class{
		@include commentRating_Desktop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex{
		@include commentRespDetFlex_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentRespDetFlex .commentRespDetItem-Class{
		@include commentRespDetItem_Laptop_Style;
	}	

	#commentSectionWrap .commentDetailsWrap .commentQuestion-Class{
		@include commentQuestion_Desktop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentAnswer-Class{
		@include commentAnswer_Desktop_Style;
	}

	#commentSectionWrap .commentDetailsWrap .commentedDatetime-Class{
		@include commentDatetime_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Comment Section*/
/***********************************************************************************************************************************************************************************************************/