/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Mixin_Global";
@import "../../Global Style/Rostrap_Global";
@import "Mixin_Page_Dashboard";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Navigation*/
	--generalNavMenuPadding: 12px;		
	/*Navigation*/	


	/*Date Range*/	
	--dateRangeBorderRadius: 4px;
	--dateRangeBorderWidth: 2px;
	--dateRangeBorderColor: #285FF3;
	--dateRangePadding: 4px;	
	--dateRangeCalLiteBorderColor: #8394B7;				
	/*Date Range*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Side Nav*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrapLevelOne-Class{
		@include globalSubNavMenuWrapLevelOne_Style;
	}

	.subNavMenuWrapLevelTwo-Class{
		@include globalSubNavMenuWrapLevelTwo_Style;
	}

	.subNavMenu-Class{
		@include globalSubNavMenu_MT_Style;
	}

	.subNavIconSize-Class{
		@include globalSubNavIconSize_MT_Style;
	}

	.chevronSize-Class{
		@include globalChevronSize_MT_Style;
	}
	/*Side Nav Menu*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrapLevelOne-Class{
		@include globalSubNavMenuWrapLevelOne_Style;
	}

	.subNavMenuWrapLevelTwo-Class{
		@include globalSubNavMenuWrapLevelTwo_Style;
	}

	.subNavMenu-Class{
		@include globalSubNavMenu_MT_Style;
	}

	.subNavIconSize-Class{
		@include globalSubNavIconSize_MT_Style;
	}

	.chevronSize-Class{
		@include globalChevronSize_MT_Style;
	}
	/*Side Nav Menu*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Laptop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Laptop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Laptop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Laptop_Style;
	}

	.subNavMenuWrapLevelOne-Class{
		@include globalSubNavMenuWrapLevelOne_Style;
	}

	.subNavMenuWrapLevelTwo-Class{
		@include globalSubNavMenuWrapLevelTwo_Style;
	}

	.subNavMenu-Class{
		@include globalSubNavMenu_Laptop_Style;
	}

	.subNavIconSize-Class{
		@include globalSubNavIconSize_Laptop_Style;
	}

	.chevronSize-Class{
		@include globalChevronSize_Laptop_Style;
	}
	/*Side Nav Menu*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Desktop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Desktop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Desktop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Desktop_Style;
	}

	.subNavMenuWrapLevelOne-Class{
		@include globalSubNavMenuWrapLevelOne_Style;
	}

	.subNavMenuWrapLevelTwo-Class{
		@include globalSubNavMenuWrapLevelTwo_Style;
	}

	.subNavMenu-Class{
		@include globalSubNavMenu_Desktop_Style;
	}

	.subNavIconSize-Class{
		@include globalSubNavIconSize_Desktop_Style;
	}

	.chevronSize-Class{
		@include globalChevronSize_Desktop_Style;
	}
	/*Side Nav Menu*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Side Nav*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global wrapper Declaration*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.globalWrapper{
		@include globalWrapper_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Global wrapper Declaration*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Laptop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Desktop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Desktop_Style;		
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Search area*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#searchWrapper{
		@include searchWrapper_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_MT_Style;		
	}	

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_MT_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_MT_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Mobile_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_MT_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_MT_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_MT_Style;
	}	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#searchWrapper{
		@include searchWrapper_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_MT_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_MT_Style;		
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_MT_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_MT_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Tablet_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_MT_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_MT_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#searchWrapper{
		@include searchWrapper_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_Laptop_Style;		
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_Laptop_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_Laptop_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Laptop_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_Laptop_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_Laptop_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#searchWrapper{
		@include searchWrapper_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_Style;
	}

	#filterClientItemWrap{
		@include filterClientItemWrap_Style;
	}

	.searchAreaLabelTxt-Class{
		@include searchAreaLabelTxt_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass{
		@include filterClientCusCheckBoxPaper_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass label{
		@include filterClientCusCheckBoxLabel_Laptop_Style;
	}

	#filterClientItemWrap .cusCheckBoxPaper_RoClass .boxme_RoClass{
		 @include filterClientCusCheckboxMe_Laptop_Style;		
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_Desktop_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_Desktop_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Desktop_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_Desktop_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_Desktop_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Search area*/
/***********************************************************************************************************************************************************************************************************/