/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Mixin_Global";
@import "../../Global Style/Rostrap_Global";
@import "Mixin_Page_Dashboard";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Navigation*/
	--generalNavMenuPadding: 12px;

	--mainNavMenuIconSize: 20px;
	--mainNavMenuFSize: 16px;
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #494C55;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;	

	--subNavMenuIconSize: 20px;
	--subNavMenuWrapBgColor: #E6E6E6;
	--subNavMenuBgColor: transparent;
	--subNavMenuFSize: 16px;
	--subNavMenuFColor: #494C55;
	--hoverSubNavMenuBgColor: #247F4F;
	--hoverSubNavMenuFColor: #ffffff;

	--chevronIconSize: 14px;
	/*Navigation*/


	/*Page Title*/
	--projectTitleTextFColor: #494C55;
	--projectTitleTextFSize: 16px;
	--projectTitleUserIconSize: 30px;
	/*Page Title*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/