/***********************************************************************************************************************************************************************************************************/
/*Step sets*/
@mixin stepSets_MT_Style{
	position: relative;
	display: none;
	box-sizing: border-box;
	overflow: visible;
	width: auto; /*To be changed*/
	margin: 35px 0px 0px 0px; /*To be changed*/
	padding: 5px;
	background-color: #ffffff;
}
@mixin stepSets_LD_Style{
	position: relative;
	display: none;
	box-sizing: border-box;
	overflow: visible;
	width: 1080px; /*changed*/
	margin: 35px auto 0px auto; /*changed*/
	padding: 5px;
	background-color: #ffffff;
	border-radius: 5px; /*Added*/
	box-shadow: 0px 0px 5px gray;
}
/*Step sets*/



/*Step title*/
@mixin stepSetTitleWrap_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	margin-bottom: 17px;
}



@mixin stepSetTitle_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	color: black;
	font-family: calibri;
	font-size: 15px; /*To be changed*/
	font-style: normal;
	font-weight: bold;
	margin-bottom: 7px;
}
@mixin stepSetTitle_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	color: black;
	font-family: calibri;
	font-size: 17px; /*changed*/
	font-style: normal;
	font-weight: bold;
	margin-bottom: 7px;
}
@mixin stepSetTitle_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	color: black;
	font-family: calibri;
	font-size: 19px; /*changed*/
	font-style: normal;
	font-weight: bold;
	margin-bottom: 7px;
}



@mixin stepSetTitleDefi_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	color: gray;
	font-family: calibri;
	font-size: 12px; /*To be changed*/
	font-style: normal;
	font-weight: normal;
}
@mixin stepSetTitleDefi_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	color: gray;
	font-family: calibri;
	font-size: 14px; /*changed*/
	font-style: normal;
	font-weight: normal;
}
@mixin stepSetTitleDefi_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	color: gray;
	font-family: calibri;
	font-size: 16px; /*changed*/
	font-style: normal;
	font-weight: normal;
}
/*Step title*/



/*Step per field group*/
@mixin stepSetPerFieldGroup_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font-family: calibri;
	font-size: 13px; /*To be changed*/
	font-style: italic;
	font-weight: bold;
	color: black;
}
@mixin stepSetPerFieldGroup_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font-family: calibri;
	font-size: 15px; /*changed*/
	font-style: italic;
	font-weight: bold;
	color: black;
}
@mixin stepSetPerFieldGroup_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font-family: calibri;
	font-size: 17px; /*changed*/
	font-style: italic;	
	font-weight: bold;
	color: black;
}
/*Step per field group*/



/*Step per field*/
@mixin messageFont_MT_Style{
	font-family: calibri;
	font-size: 12px; /*To be changed*/
	font-style: normal;
	font-weight: bold;
	color: red;
}
@mixin messageFont_Laptop_Style{
	font-family: calibri;
	font-size: 14px; /*changed*/
	font-style: normal;
	font-weight: bold;
	color: red;
}
@mixin messageFont_Desktop_Style{
	font-family: calibri;
	font-size: 16px; /*changed*/
	font-style: normal;
	font-weight: bold;
	color: red;
}


@mixin stepSetPerFieldWrap_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	margin: 30px 0px;
}



@mixin stepSetPerFieldTitleCenter_Style{
	text-align: center; /*To be changed*/
}



@mixin stepSetPerFieldTitle_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	margin-bottom: 3px;
	font-family: calibri;
	font-size: 12px; /*To be changed*/
	font-style: normal;
	font-weight: bold;
	color: black;
}
@mixin stepSetPerFieldTitle_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	margin-bottom: 3px;
	font-family: calibri;
	font-size: 14px; /*changed*/
	font-style: normal;
	font-weight: bold;
	color: black;
}
@mixin stepSetPerFieldTitle_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	margin-bottom: 3px;
	font-family: calibri;
	font-size: 16px; /*changed*/
	font-style: normal;
	font-weight: bold;
	color: black;
}



@mixin stepSetPerFieldFlex_Mobile_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: column nowrap; /*To be changed*/
	justify-content: flex-start; /*To be changed*/	
}
@mixin stepSetPerFieldFlex_TLD_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row wrap; /*changed*/
	justify-content: center;
	align-content: flex-start; /*Added*/	
}
/*Step per field*/



/*Step per field buttons wrapper*/
@mixin stepSetBtnsFlex_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row wrap;
	justify-content: center;
}
/*Step per field buttons wrapper*/



/*Comments and suggestion textarea*/
@mixin suggestionTextArea_Mobile_Style{
	position: relative;
	display: block;
	box-sizing: border-box;
	font-family: calibri;
	font-size: 12px; /*To be changed*/
	font-style: normal;
	font-weight: normal;
	width: auto; /*To be changed*/
	height: 70px;
}
@mixin suggestionTextArea_Tablet_Style{
	position: relative;
	display: block;
	box-sizing: border-box;
	font-family: calibri;
	font-size: 12px; /*To be changed*/
	font-style: normal;
	font-weight: normal;
	width: 100%; /*changed*/
	height: 70px;
}
@mixin suggestionTextArea_Laptop_Style{
	position: relative;
	display: block;
	box-sizing: border-box;
	font-family: calibri;
	font-size: 14px; /*changed*/
	font-style: normal;
	font-weight: normal;
	width: 100%; /*changed*/
	height: 70px;
}
@mixin suggestionTextArea_Desktop_Style{
	position: relative;
	display: block;
	box-sizing: border-box;
	font-family: calibri;
	font-size: 16px; /*changed*/
	font-style: normal;
	font-weight: normal;
	width: 100%; /*changed*/
	height: 70px;
}
/*Comments and suggestion textarea*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Radio Input Framework*/
@mixin radioCheckFlex_Mobile_RoClass{
	margin: 5px 0px 0px 5px; /*To be changed*/
}
@mixin radioCheckFlex_TLD_RoClass{
	margin: 5px 20px 0px 5px; /*changed*/
}



@mixin customRadioCheck_MT_Style{
	--cusRadioWidthHeight: 20px;
}
@mixin customRadioCheck_Laptop_Style{
	--cusRadioWidthHeight: 25px; 
}
@mixin customRadioCheck_Desktop_Style{
	--cusRadioWidthHeight: 30px;
}



@mixin radioCheckTxtLabel_MT_Style{
	--cusRadioFsize: 12px;
}
@mixin radioCheckTxtLabel_Laptop_Style{
	--cusRadioFsize: 14px;
}
@mixin radioCheckTxtLabel_Desktop_Style{
	--cusRadioFsize: 16px;
}



@mixin radioCheckIconLabel_MT_Style{
	--radioIconLabelWidthHeight: 95px;
}

@mixin radioCheckIconLabel_Laptop_Style{
	--radioIconLabelWidthHeight: 100px;
}

@mixin radioCheckIconLabel_Desktop_Style{
	--radioIconLabelWidthHeight: 105px;
}
/*Radio Input Framework*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Checkbox Input Framework*/
@mixin cusCheckbox_Mobile_RoClass{
	margin: 5px 0px 0px 0px; /*To be changed*/
}
@mixin cusCheckbox_TLD_RoClass{
	margin: 5px 20px 0px 0px; /*changed*/
}



@mixin cusCheckboxCheck_MT_Style{
	--cusCheckboxWidthHeight: 20px;
}
@mixin cusCheckboxCheck_Laptop_Style{
	--cusCheckboxWidthHeight: 25px;
}
@mixin cusCheckboxCheck_Desktop_Style{
	--cusCheckboxWidthHeight: 30px;
}



@mixin cusCheckboxTxtLabel_MT_Style{
	--cusCheckboxFStyle: 12px;
}
@mixin cusCheckboxTxtLabel_Laptop_Style{
	--cusCheckboxFStyle: 14px;
}
@mixin cusCheckboxTxtLabel_Desktop_Style{
	--cusCheckboxFStyle: 16px;
}
/*Checkbox Input Framework*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Dropdown Menu Framework*/
@mixin dropdown_Mobile_Style{
	--cusDropZIndex: 1;
	width: auto; /*To be changed*/
}
@mixin dropdown_TLD_Style{
	--cusDropZIndex: 1;
	width: 190px; /*changed*/
}


@mixin dropdownFSize_MT_Style{	
	--cusDropFsize: 12px;
}
@mixin dropdownFSize_Laptop_Style{	
	--cusDropFsize: 14px;
}
@mixin dropdownFSize_Desktop_Style{	
	--cusDropFsize: 16px;
}


@mixin dropdownArrowSize_MT_Style{
	--cusDropArrowWidthHeight: 14px;
}
@mixin dropdownArrowSize_Laptop_Style{
	--cusDropArrowWidthHeight: 16px;
}
@mixin dropdownArrowSize_Desktop_Style{
	--cusDropArrowWidthHeight: 18px;
}
/*Dropdown Menu Framework*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Button Framework*/
@mixin proceedBtn_Style{
	margin: 5px;
	--normBtnBorderColor: #1B85BD;
	--normBtnBgColor: #1B85BD;		
	--normBtnHovActBgColor: #2760A7;
}



@mixin backBtn_Style{
	margin: 5px;
	--normBtnBorderColor: #FC5050;
	--normBtnBgColor: #FC5050;
	--normBtnHovActBgColor: #E22D41;
}



@mixin buttonFSize_MT_Style{
	--normBtnFSize: 12px;
}
@mixin buttonFSize_Laptop_Style{
	--normBtnFSize: 14px;
}
@mixin buttonFSize_Desktop_Style{
	--normBtnFSize: 16px;
}
/*Button Framework*/
/***********************************************************************************************************************************************************************************************************/