/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Mixin_Global";
@import "../../Global Style/Rostrap_Global";
@import "Mixin_Page_RateService";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Radio Input Framework*/
	--cusRadioBorderWidth: 1px;
	--cusRadioBorderColor: gray;	
	--cusRadioBgColor: transparent;
	--cusRadioFWeight: normal;	
	--cusRadioFColor: gray;
	/*Radio Input Framework*/


	/*Dropdown Menu Framework*/
	--cusDropBorderWidth: 1px;
	--cusDropBorderColor: gray;
	--cusDropBgColor: transparent;
	--cusDropSelFColor: gray;
	--cusDropSearchBorderWidth: 1px;
	--cusDropSearchBorderColor: gray;
	--cusDropSearchFColor: gray;
	--cusDropSearchBgColor: #ffffff;
	--cusDropOptWrapBorderWidth: 1px;
	--cusDropOptWrapBorderColor: green;
	--cusDropOptWrapBgColor: #ffffff;
	--cusDropOptWrapHeight: 180px;
	--cusDropOptWrapScrollColor: green;
	--cusDropOptWrapScrollHovColor: green;
	--cusDropOptLabColor: gray;
	--cusDropOptHovLabBgColor: #DEE1E6;
	/*Dropdown Menu Framework*/


	/*Button Framework*/
	--normBtnMWidth: auto;
	--normBtnTWidth: auto;
	--normBtnLWidth: auto;
	--normBtnDWidth: auto;
	--normBtnPadding: 8px;
	--normBtnBorderWidth: 1px;	
	--normBtnRadius: 4px;
	--normBtnFWeight: normal;
	--normBtnFMTSize: 12px;
	--normBtnFLDSize: 15px;	
	--normBtnFcolor: #ffffff;
	--normBtnHovActFColor: #ffffff;	
	/*Button Framework*/
}

body{
	background-color: #E9E9E9;
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_MT_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_MT_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_Laptop_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.pageHeaderWrap{
		@include globalPageHeaderWrap_Style;
	}

	.pageHeaderWrap>.pageHeaderTxt{
		@include globalPageHeaderTxt_Desktop_Style;
	}

	.pageHeaderWrap>.pageHeaderSubtxt{
		@include globalPageHeaderSubTxt_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Step by step future framework*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){	
	.stepByStepFlex-Class{
		@include globalStepByStepFlex_Mobile_Style;
	}

	.stepByStepLine-Class{
		@include globalStepByStepLine_Style;
	}

	.stepByStepLineLight-Class{
		@include globalStepByStepLineLight_Style;
	}

	.stepByStepItem-Class{
		@include globalStepByStepItem_Style;
	}

	.stepNumber-Class{
		@include globalStepNumber_MT_Style;
	}

	.stepNumberLight-Class{
		@include globalStepNumberLight_Style;
	}

	.stepDefi-Class{
		@include globalStepDefi_MT_Style;
	}

	.stepDefiLight-Class{
		@include globalStepDefiLight_Style;
	}	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.stepByStepFlex-Class{
		@include globalStepByStepFlex_TLD_Style;
	}

	.stepByStepLine-Class{
		@include globalStepByStepLine_Style;
	}

	.stepByStepLineLight-Class{
		@include globalStepByStepLineLight_Style;
	}

	.stepByStepItem-Class{
		@include globalStepByStepItem_Style;
	}

	.stepNumber-Class{
		@include globalStepNumber_MT_Style;
	}

	.stepNumberLight-Class{
		@include globalStepNumberLight_Style;
	}

	.stepDefi-Class{
		@include globalStepDefi_MT_Style;
	}

	.stepDefiLight-Class{
		@include globalStepDefiLight_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.stepByStepFlex-Class{
		@include globalStepByStepFlex_TLD_Style;
	}

	.stepByStepLine-Class{
		@include globalStepByStepLine_Style;
	}

	.stepByStepLineLight-Class{
		@include globalStepByStepLineLight_Style;
	}

	.stepByStepItem-Class{
		@include globalStepByStepItem_Style;
	}

	.stepNumber-Class{
		@include globalStepNumber_Laptop_Style;
	}

	.stepNumberLight-Class{
		@include globalStepNumberLight_Style;
	}

	.stepDefi-Class{
		@include globalStepDefi_Laptop_Style;
	}

	.stepDefiLight-Class{
		@include globalStepDefiLight_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.stepByStepFlex-Class{
		@include globalStepByStepFlex_TLD_Style;
	}

	.stepByStepLine-Class{
		@include globalStepByStepLine_Style;
	}

	.stepByStepLineLight-Class{
		@include globalStepByStepLineLight_Style;
	}

	.stepByStepItem-Class{
		@include globalStepByStepItem_Style;
	}

	.stepNumber-Class{
		@include globalStepNumber_Desktop_Style;
	}

	.stepNumberLight-Class{
		@include globalStepNumberLight_Style;
	}

	.stepDefi-Class{
		@include globalStepDefi_Desktop_Style;
	}

	.stepDefiLight-Class{
		@include globalStepDefiLight_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Step by step future framework*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Step sets*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Step set itself*/
	.stepSets-Class{
		@include stepSets_MT_Style;
	}
	/*Step set itself*/


	/*Step title*/
	.stepSets-Class>.stepSetTitleWrap{
		@include stepSetTitleWrap_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitle-Class{
		@include stepSetTitle_MT_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitleDefi-Class{
		@include stepSetTitleDefi_MT_Style;
	}
	/*Step title*/


	/*Step per field group*/
	.stepSets-Class>.stepSetPerFieldGroup-Class{
		@include stepSetPerFieldGroup_MT_Style;
	}
	/*Step per field group*/


	/*Step per field*/
	.stepSets-Class>.stepSetPerFieldWrap{
		@include stepSetPerFieldWrap_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldTitle-Class{
		@include stepSetPerFieldTitle_MT_Style;				
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldFlex{
		@include stepSetPerFieldFlex_Mobile_Style;
		@include stepPerFieldMessageFont_MT_Style;
	}
	/*Step per field*/


	/*Step per field buttons wrapper*/
	.stepSets-Class>.stepSetPerFieldWrap>.stepSetBtnsFlex{
		@include stepSetBtnsFlex_Style;
	}
	/*Step per field buttons wrapper*/


	/*Comments and suggestion textarea*/
	.suggestionTextArea-Class{
		@include suggestionTextArea_Mobile_Style;
	}
	/*Comments and suggestion textarea*/


	/*Radio Input Framework*/
	.radioCheckFlex_RoClass{
		@include radioCheckFlex_Mobile_RoClass;
	}

	.customRadioCheck_RoClass{
		@include customRadioCheck_MT_Style;
	}

	.radioCheckTxtLabel_RoClass{
		@include radioCheckTxtLabel_MT_Style;
	}

	.radioCheckIconLabel_RoClass{
		@include radioCheckIconLabel_MT_Style;
	}
	/*Radio Input Framework*/


	/*Dropdown Menu Framework*/
	#dropdownReligion-Id{
		@include dropdownReligion_Mobile_Style;
	}
	/*Dropdown Menu Framework*/


	/*Button Framework*/
	.proceedBtn-Class{
		@include proceedBtn_Style;
	}

	.backBtn-Class{
		@include backBtn_Style;
	}
	/*Button Framework*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Step set itself*/
	.stepSets-Class{
		@include stepSets_MT_Style;
	}
	/*Step set itself*/


	/*Step title*/
	.stepSets-Class>.stepSetTitleWrap{
		@include stepSetTitleWrap_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitle-Class{
		@include stepSetTitle_MT_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitleDefi-Class{
		@include stepSetTitleDefi_MT_Style;
	}
	/*Step title*/


	/*Step per field group*/
	.stepSets-Class>.stepSetPerFieldGroup-Class{
		@include stepSetPerFieldGroup_MT_Style;
	}
	/*Step per field group*/


	/*Step per field*/
	.stepSets-Class>.stepSetPerFieldWrap{
		@include stepSetPerFieldWrap_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldTitle-Class{
		@include stepSetPerFieldTitleCenter_Style;
		@include stepSetPerFieldTitle_MT_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldFlex{
		@include stepSetPerFieldFlex_TLD_Style;
		@include stepPerFieldMessageFont_MT_Style;
	}
	/*Step per field*/


	/*Step per field buttons wrapper*/
	.stepSets-Class>.stepSetPerFieldWrap>.stepSetBtnsFlex{
		@include stepSetBtnsFlex_Style;
	}
	/*Step per field buttons wrapper*/


	/*Comments and suggestion textarea*/
	.suggestionTextArea-Class{
		@include suggestionTextArea_Laptop_Style;
	}
	/*Comments and suggestion textarea*/


	/*Radio Input Framework*/
	.radioCheckFlex_RoClass{
		@include radioCheckFlex_TLD_RoClass;
	}

	.customRadioCheck_RoClass{
		@include customRadioCheck_MT_Style;
	}

	.radioCheckTxtLabel_RoClass{
		@include radioCheckTxtLabel_MT_Style;
	}

	.radioCheckIconLabel_RoClass{
		@include radioCheckIconLabel_MT_Style;
	}
	/*Radio Input Framework*/


	/*Dropdown Menu Framework*/
	#dropdownReligion-Id{
		@include dropdownReligion_TLD_Style;
	}
	/*Dropdown Menu Framework*/


	/*Button Framework*/
	.proceedBtn-Class{
		@include proceedBtn_Style;
	}

	.backBtn-Class{
		@include backBtn_Style;
	}
	/*Button Framework*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Step set itself*/
	.stepSets-Class{
		@include stepSets_LD_Style;
	}
	/*Step set itself*/


	/*Step title*/
	.stepSets-Class>.stepSetTitleWrap{
		@include stepSetTitleWrap_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitle-Class{
		@include stepSetTitle_Laptop_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitleDefi-Class{
		@include stepSetTitleDefi_Laptop_Style;
	}
	/*Step title*/


	/*Step per field group*/
	.stepSets-Class>.stepSetPerFieldGroup-Class{
		@include stepSetPerFieldGroup_Laptop_Style;
	}
	/*Step per field group*/


	/*Step per field*/
	.stepSets-Class>.stepSetPerFieldWrap{
		@include stepSetPerFieldWrap_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldTitle-Class{
		@include stepSetPerFieldTitleCenter_Style;
		@include stepSetPerFieldTitle_Laptop_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldFlex{
		@include stepSetPerFieldFlex_TLD_Style;
		@include stepPerFieldMessageFont_Laptop_Style;
	}
	/*Step per field*/


	/*Step per field buttons wrapper*/
	.stepSets-Class>.stepSetPerFieldWrap>.stepSetBtnsFlex{
		@include stepSetBtnsFlex_Style;
	}
	/*Step per field buttons wrapper*/


	/*Comments and suggestion textarea*/
	.suggestionTextArea-Class{
		@include suggestionTextArea_Laptop_Style;
	}
	/*Comments and suggestion textarea*/


	/*Radio Input Framework*/
	.radioCheckFlex_RoClass{
		@include radioCheckFlex_TLD_RoClass;
	}

	.customRadioCheck_RoClass{
		@include customRadioCheck_Laptop_Style;
	}

	.radioCheckTxtLabel_RoClass{
		@include radioCheckTxtLabel_Laptop_Style;
	}

	.radioCheckIconLabel_RoClass{
		@include radioCheckIconLabel_Laptop_Style;
	}
	/*Radio Input Framework*/


	/*Dropdown Menu Framework*/
	#dropdownReligion-Id{
		@include dropdownReligion_TLD_Style;
	}
	/*Dropdown Menu Framework*/


	/*Button Framework*/
	.proceedBtn-Class{
		@include proceedBtn_Style;
	}

	.backBtn-Class{
		@include backBtn_Style;
	}
	/*Button Framework*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Step set itself*/
	.stepSets-Class{
		@include stepSets_LD_Style;
	}
	/*Step set itself*/


	/*Step title*/
	.stepSets-Class>.stepSetTitleWrap{
		@include stepSetTitleWrap_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitle-Class{
		@include stepSetTitle_Desktop_Style;
	}

	.stepSets-Class>.stepSetTitleWrap>.stepSetTitleDefi-Class{
		@include stepSetTitleDefi_Desktop_Style;
	}
	/*Step title*/


	/*Step per field group*/
	.stepSets-Class>.stepSetPerFieldGroup-Class{
		@include stepSetPerFieldGroup_Desktop_Style;
	}
	/*Step per field group*/


	/*Step per field*/
	.stepSets-Class>.stepSetPerFieldWrap{
		@include stepSetPerFieldWrap_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldTitle-Class{
		@include stepSetPerFieldTitleCenter_Style;
		@include stepSetPerFieldTitle_Desktop_Style;
	}

	.stepSets-Class>.stepSetPerFieldWrap>.stepSetPerFieldFlex{
		@include stepSetPerFieldFlex_TLD_Style;
		@include stepPerFieldMessageFont_Desktop_Style;
	}
	/*Step per field*/


	/*Step per field buttons wrapper*/
	.stepSets-Class>.stepSetPerFieldWrap>.stepSetBtnsFlex{
		@include stepSetBtnsFlex_Style;
	}
	/*Step per field buttons wrapper*/


	/*Comments and suggestion textarea*/
	.suggestionTextArea-Class{
		@include suggestionTextArea_Desktop_Style;
	}
	/*Comments and suggestion textarea*/


	/*Radio Input Framework*/
	.radioCheckFlex_RoClass{
		@include radioCheckFlex_TLD_RoClass;
	}

	.customRadioCheck_RoClass{
		@include customRadioCheck_Desktop_Style;
	}

	.radioCheckTxtLabel_RoClass{
		@include radioCheckTxtLabel_Desktop_Style;
	}

	.radioCheckIconLabel_RoClass{
		@include radioCheckIconLabel_Desktop_Style;
	}
	/*Radio Input Framework*/


	/*Dropdown Menu Framework*/
	#dropdownReligion-Id{
		@include dropdownReligion_TLD_Style;
	}
	/*Dropdown Menu Framework*/


	/*Button Framework*/
	.proceedBtn-Class{
		@include proceedBtn_Style;
	}

	.backBtn-Class{
		@include backBtn_Style;
	}
	/*Button Framework*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Step sets*/
/***********************************************************************************************************************************************************************************************************/