/***********************************************************************************************************************************************************************************************************/
/*Import Mixins*/
@import "../../Global Style/Global_Style";
@import "../../Global Style/Rostrap_Global";
@import "Mixin_Page_CSATReports";
/*Import Mixins*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Root*/
:root{
	/*Navigation*/
	--generalNavMenuPadding: 12px;		
	/*Navigation*/	


	/*Date Range*/	
	--dateRangeBorderRadius: 4px;
	--dateRangeBorderWidth: 2px;
	--dateRangeBorderColor: #285FF3;
	--dateRangePadding: 4px;	
	--dateRangeCalLiteBorderColor: #8394B7;				
	/*Date Range*/


	/*Spinner loading*/
	--spinnerWidthHeight: 68px;
	/*Spinner loading*/
}
/*Root*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Side Nav*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Mobile_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Mobile_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Mobile_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Mobile_Style;
	}
	/*Side Nav Menu*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_MT_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_MT_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_MT_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_MT_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Tablet_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Tablet_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Tablet_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Tablet_Style;
	}
	/*Side Nav Menu*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Laptop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Laptop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Laptop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Laptop_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}	

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Laptop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Laptop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Laptop_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Laptop_Style;
	}
	/*Side Nav Menu*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Side Nav Header*/
	.sideNavHeader-Class{
		@include globalSideNavHeader_Style;
	}

	.sideNavHeader-Class .sideNavHeaderIcon-Class{
		@include globalSideNavHeaderIcon_Desktop_Style;
	}

	.sideNavHeader-Class .sideNavHeaderTxt-Class{
		@include globalSideNavHeaderTxt_Desktop_Style;
	}
	/*Side Nav Header*/


	/*Side Nav Menu*/
	.mainNavMenu-Class{
		@include globalMainNavMenu_Desktop_Style;
	}

	.mainNavIconSize-Class{
		@include globalMainNavIconSize_Desktop_Style;
	}

	.subNavMenuWrap_RoClass{
		@include globalSubNavMenuWrapOne_Style;
	}

	.subNavMenuWrap_RoClass .subNavMenu_RoClass{
		@include globalSubNavMenu_Style;
		@include globalSubNavMenuFSize_Desktop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenuWrap_RoClass .activeSubNavMenu_RoClass{
		@include globalSubNavMenuFSize_Desktop_Style;
		@include globalHoverSubNavMenu_Style;
	}

	.subNavMenu_RoClass .subNavMenuIconWrap_RoClass, .activeSubNavMenu_RoClass .activeSubNavMenuIconWrap_RoClass{
		@include globalSubNavMenuIconWrap_Desktop_Style;
	}

	.chevronIconWrap_RoClass{
		@include globalChevronIconWrap_Desktop_Style;
	}
	/*Side Nav Menu*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Side Nav*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global wrapper Declaration*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.globalWrapper{
		@include globalWrapper_MTL_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.globalWrapper{
		@include globalWrapper_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Global wrapper Declaration*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Page Header*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_MT_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Laptop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.projTitleTxt_RoClass, .userLoginDetails_RoClass{
		@include globalOfficePageHeaderTxt_Desktop_Style;
	}

	.userLoginIconWrap_RoClass{
		@include globalOfficePageHeaderIcon_Desktop_Style;		
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global top navigation*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	.topNavWrapFlex{
		@include globalTopNavWrap_Style;
		@include topNavWrapFlex_Style;
	}

	.topNavWrapFlexItem{
		@include topNavWrapFlexItem_Style;
		@include topNavWrapFont_Mobile_Style;
	}

	.activeTopNavWrapFlexItem-Class{
		@include activeTopNavWrapFlexItem_Style;
	}

	.topNavWrapFlexItem:hover{
		@include activeTopNavWrapFlexItem_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	.topNavWrapFlex{
		@include globalTopNavWrap_Style;
		@include topNavWrapFlex_Style;
	}

	.topNavWrapFlexItem{
		@include topNavWrapFlexItem_Style;
		@include topNavWrapFont_Tablet_Style;
	}

	.activeTopNavWrapFlexItem-Class{
		@include activeTopNavWrapFlexItem_Style;
	}

	.topNavWrapFlexItem:hover{
		@include activeTopNavWrapFlexItem_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	.topNavWrapFlex{
		@include globalTopNavWrap_Style;
		@include topNavWrapFlex_Style;
	}

	.topNavWrapFlexItem{
		@include topNavWrapFlexItem_Style;
		@include topNavWrapFont_Laptop_Style;
	}

	.activeTopNavWrapFlexItem-Class{
		@include activeTopNavWrapFlexItem_Style;
	}

	.topNavWrapFlexItem:hover{
		@include activeTopNavWrapFlexItem_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	.topNavWrapFlex{
		@include globalTopNavWrap_Style;
		@include topNavWrapFlex_Style;
	}

	.topNavWrapFlexItem{
		@include topNavWrapFlexItem_Style;
		@include topNavWrapFont_Desktop_Style;
	}

	.activeTopNavWrapFlexItem-Class{
		@include activeTopNavWrapFlexItem_Style;
	}

	.topNavWrapFlexItem:hover{
		@include activeTopNavWrapFlexItem_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Global top navigation*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Search area*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#searchWrapper{
		@include searchWrapper_Mobile_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_Mobile_Style;
	}


	#selDropdownPointOfEntryItem-Id{
		@include selDropdownPointOfEntryItem_Mobile_Style;
	}	

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_Mobile_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_MT_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_MT_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_Mobile_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Mobile_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_MT_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_MT_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_MT_Style;
	}	
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#searchWrapper{
		@include searchWrapper_TLD_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_TLD_Style;
	}

	#selDropdownPointOfEntryItem-Id{
		@include selDropdownPointOfEntryItem_Tablet_Style;
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_MT_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_MT_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Tablet_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_MT_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_MT_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_MT_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#searchWrapper{
		@include searchWrapper_TLD_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_TLD_Style;
	}

	#selDropdownPointOfEntryItem-Id{		
		@include selDropdownPointOfEntryItem_Laptop_Style;
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_Laptop_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_Laptop_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Laptop_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_Laptop_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_Laptop_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_Laptop_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#searchWrapper{
		@include searchWrapper_TLD_Style;
	}

	.searchWrapperItem-Class{
		@include searchWrapperItem_TLD_Style;
	}

	#selDropdownPointOfEntryItem-Id{		
		@include selDropdownPointOfEntryItem_Desktop_Style;
	}

	#dateRangeOneItemWrap{
		@include dateRangeOneItemWrap_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeIcon_RoClass{
		@include dateRangeOneIcon_Desktop_RoStyle;
	}	

	#dateRangeOneWrap-Id .dateRangeText_RoClass{
		@include dateRangeOneText_Desktop_Style;
	}

	#dateRangeOneWrap-Id .dateRangeTooltipArrow_RoClass{
		@include dateRangeOneTooltipArrow_TLD_Style;
	}

	#dateRangeOneWrap-Id .dateRangeCalLiteWrap_RoClass{
		@include dateRangeOneCalLiteWrap_Desktop_Style;
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteMonthText_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteYearText_RoClass{
		@include dateRangeOneWrapCalLiteHeadTxt_Desktop_Style;				
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteButton_RoClass{	
		@include dateRangeOneWrapCalLiteHeadBtn_Desktop_Style;	
	}

	#dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysTxt_RoClass, #dateRangeOneWrap-Id .calLite_RoClass .calLiteDaysIndex_RoClass{				
		@include dateRangeOneWrapCalLiteDayTxt_Desktop_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Search area*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Data one table*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#dataOneTableWrap{
		@include dataOneTableWrap_Style;
	}	

	#dataOneTableWrap table{
		@include dataOneTable_MT_Style;
	}

	#dataOneTableWrap table thead{
		@include dataOneTableThead_Style;
	}

	#dataOneTableWrap table tr{
		@include dataOneTableTr_Style;
	}

	#dataOneTableWrap table th{
		@include dataOneTableTh_Style;
	}

	#dataOneTableWrap table td{
		@include dataOneTableTd_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#dataOneTableWrap{
		@include dataOneTableWrap_Style;
	}

	#dataOneTableWrap table{
		@include dataOneTable_MT_Style;
	}

	#dataOneTableWrap table thead{
		@include dataOneTableThead_Style;
	}

	#dataOneTableWrap table tr{
		@include dataOneTableTr_Style;
	}

	#dataOneTableWrap table th{
		@include dataOneTableTh_Style;
	}

	#dataOneTableWrap table td{
		@include dataOneTableTd_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#dataOneTableWrap{
		@include dataOneTableWrap_Style;
	}

	#dataOneTableWrap table{
		@include dataOneTable_Laptop_Style;
	}

	#dataOneTableWrap table thead{
		@include dataOneTableThead_Style;
	}

	#dataOneTableWrap table tr{
		@include dataOneTableTr_Style;
	}

	#dataOneTableWrap table th{
		@include dataOneTableTh_Style;
	}

	#dataOneTableWrap table td{
		@include dataOneTableTd_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#dataOneTableWrap{
		@include dataOneTableWrap_Style;
	}

	#dataOneTableWrap table{
		@include dataOneTable_Desktop_Style;
	}

	#dataOneTableWrap table thead{
		@include dataOneTableThead_Style;
	}

	#dataOneTableWrap table tr{
		@include dataOneTableTr_Style;
	}

	#dataOneTableWrap table th{
		@include dataOneTableTh_Style;
	}

	#dataOneTableWrap table td{
		@include dataOneTableTd_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Data one table*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Data two table*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	#dataTwoTableWrap, #csmDataTableWrap{
		@include dataTwoTableWrap_Style;
	}	

	#dataTwoTableWrap table, #csmDataTableWrap table{
		@include dataTwoTable_MT_Style;
	}

	#dataTwoTableWrap table thead, #csmDataTableWrap table thead{
		@include dataTwoTableThead_Style;
	}

	#dataTwoTableWrap table th, #csmDataTableWrap table th{
		@include dataTwoTableTh_Style;
	}

	.ccHeader-Class{
		@include ccHeader_Style;
	}

	.q1q7Header-Class{
		@include q1q7Header_Style;
	}

	.q8q12Header-Class{
		@include q8q12Header_Style;
	}

	.q13q28Header-Class{
		@include q13q28Header_Style;
	}
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	#dataTwoTableWrap, #csmDataTableWrap{
		@include dataTwoTableWrap_Style;
	}	

	#dataTwoTableWrap table, #csmDataTableWrap table{
		@include dataTwoTable_MT_Style;
	}

	#dataTwoTableWrap table thead, #csmDataTableWrap table thead{
		@include dataTwoTableThead_Style;
	}

	#dataTwoTableWrap table th, #csmDataTableWrap table th{
		@include dataTwoTableTh_Style;
	}

	.ccHeader-Class{
		@include ccHeader_Style;
	}

	.q1q7Header-Class{
		@include q1q7Header_Style;
	}

	.q8q12Header-Class{
		@include q8q12Header_Style;
	}

	.q13q28Header-Class{
		@include q13q28Header_Style;
	}
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	#dataTwoTableWrap, #csmDataTableWrap{
		@include dataTwoTableWrap_Style;
	}	

	#dataTwoTableWrap table, #csmDataTableWrap table{
		@include dataTwoTable_MT_Style;
	}

	#dataTwoTableWrap table thead, #csmDataTableWrap table thead{
		@include dataTwoTableThead_Style;
	}

	#dataTwoTableWrap table th, #csmDataTableWrap table th{
		@include dataTwoTableTh_Style;
	}

	.ccHeader-Class{
		@include ccHeader_Style;
	}

	.q1q7Header-Class{
		@include q1q7Header_Style;
	}

	.q8q12Header-Class{
		@include q8q12Header_Style;
	}

	.q13q28Header-Class{
		@include q13q28Header_Style;
	}
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	#dataTwoTableWrap, #csmDataTableWrap{
		@include dataTwoTableWrap_Style;
	}	

	#dataTwoTableWrap table, #csmDataTableWrap table{
		@include dataTwoTable_MT_Style;
	}

	#dataTwoTableWrap table thead, #csmDataTableWrap table thead{
		@include dataTwoTableThead_Style;
	}

	#dataTwoTableWrap table th, #csmDataTableWrap table th{
		@include dataTwoTableTh_Style;
	}

	.ccHeader-Class{
		@include ccHeader_Style;
	}

	.q1q7Header-Class{
		@include q1q7Header_Style;
	}

	.q8q12Header-Class{
		@include q8q12Header_Style;
	}

	.q13q28Header-Class{
		@include q13q28Header_Style;
	}
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Data two table*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Rogrid Library*/

/***********************************************************************************************************************************************************************************************************/
/*Mobile*/
@media all and (max-width:641px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Mobile_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Mobile_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Mobile_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Mobile_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Mobile_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Mobile_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Mobile_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Mobile_Style;
	}	
	/*Select Dropdown*/
}
/*Mobile*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Tablet*/
@media all and (min-width:642px) and (max-width:1080px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Tablet_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Tablet_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Tablet_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Tablet_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Tablet_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Tablet_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Tablet_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Tablet_Style;
	}	
	/*Select Dropdown*/
}
/*Tablet*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Laptop*/
@media all and (min-width:1081px) and (max-width:1600px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Laptop_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Laptop_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Laptop_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Laptop_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Laptop_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Laptop_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Laptop_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Laptop_Style;
	}	
	/*Select Dropdown*/
}
/*Laptop*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Desktop*/
@media all and (min-width:1601px){
	/*Normal Button*/
	.normButton_RoClass{
		@include normBtnGeneralProps_Style;
		@include normBtnFSize_Style;
	}
	/*Normal Button*/


	/*Select Dropdown*/
	.selectDropdownWrap_RoClass{
		@include selectDropdownWrapClass_Style;
		@include selectDropdownBorderColor_Style;
	}

	.searchOpts_RoClass{
		@include searchOptsClass_Style;
		@include selectDropdownBorderColor_Style;
		@include selectDropdownFSize_Desktop_Style;
	}

	.displayedSelectedFlex_RoClass{
		@include selectDropdownBgColor_Style;
	}

	.selectDropdownOptionsWrap_RoClass{
		@include selectDropdownBgColor_Style;
		@include selectDropdownOptionsWrapClass_Style;
		@include selectDropdownScrollSize_Desktop_Style;		
	}

	.displayedSelectedIcon_RoClass{
		@include selectDropdownIconSize_Desktop_Style;
	}

	.optIcon_RoClass{
		@include selectDropdownIconSize_Desktop_Style;
	}

	.displayedSelectedText_RoClass{
		@include selectDropdownFSize_Desktop_Style;
		@include selectDropdownFColor_Style;
	}

	.optText_RoClass{
		@include selectDropdownFSize_Desktop_Style;
		@include selectDropdownFColor_Style;
	}

	.displayedSelectedChevron_RoClass{
		@include selectDropdownChevronSize_Desktop_Style;
	}

	.selectDropdownOpt_RoClass{
		@include selectDropdownOptClass_Style;
	}

	.displayedSelectedResetBtn_RoClass{
		@include selectDropdownResetBtnSize_Desktop_Style;
	}	
	/*Select Dropdown*/
}
/*Desktop*/
/***********************************************************************************************************************************************************************************************************/

/*Rogrid Library*/
/***********************************************************************************************************************************************************************************************************/