/***********************************************************************************************************************************************************************************************************/
/*Page Header*/
@mixin globalPageHeaderWrap_Style{
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	background: linear-gradient(to right, #1B85BD, #208996);
	padding: 15px 0px;
}



@mixin globalPageHeaderTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	text-align: center;
	font: normal bold 15px calibri; /*To be changed*/
	color: #ffffff;
}

@mixin globalPageHeaderTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	text-align: center;
	font: normal bold 18px calibri; /*changed*/
	color: #ffffff;
}

@mixin globalPageHeaderTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	text-align: center;
	font: normal bold 21px calibri; /*changed*/
	color: #ffffff;
}



@mixin globalPageHeaderSubTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	text-align: center;
	font: normal normal 12px calibri; /*To be changed*/
	color: #ffffff;
}

@mixin globalPageHeaderSubTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	text-align: center;
	font: normal normal 15px calibri; /*changed*/
	color: #ffffff;
}

@mixin globalPageHeaderSubTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	text-align: center;
	font: normal normal 18px calibri; /*changed*/
	color: #ffffff;
}
/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Step by step future framework*/
@mixin globalStepByStepFlex_Mobile_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	justify-content: center;
	width: auto; /*To be removed*/
	margin: 15px auto 0px auto;
}

@mixin globalStepByStepFlex_TLD_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	justify-content: center;
	/*width: auto; removed*/
	min-width: 300px; /*added*/
	max-width: 580px; /*added*/
	margin: 15px auto 0px auto;
}



@mixin globalStepByStepLine_Style{
	position: absolute;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
	border: 0.4px solid gray;
	top: 12px;
	left: 0px;
	align-self: flex-start;
}



@mixin globalStepByStepLineLight_Style{
	border: 0.4px solid green;
}



@mixin globalStepByStepItem_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: column wrap;
	align-items: center;
	width: auto; /*To be changed*/
}



@mixin globalStepNumber_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: gray;
	font-family: calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 14px; /*To be changed*/
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-radius: 50%;
	width: 28px; /*To be changed*/
}

@mixin globalStepNumber_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: gray;
	font-family: calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 18px; /*changed*/
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-radius: 50%;
	width: 32px; /*changed*/
}

@mixin globalStepNumber_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: gray;
	font-family: calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 20px; /*changed*/
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-radius: 50%;
	width: 36px; /*changed*/
}



@mixin globalStepNumberLight_Style{
	background-color: green;
}



@mixin globalStepDefi_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font-family: calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 14px; /*To be changed*/
	text-align: center;
	color: gray;
	padding: 0px 7px;
}

@mixin globalStepDefi_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font-family: calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px; /*changed*/
	text-align: center;
	color: gray;
	padding: 0px 7px;
}

@mixin globalStepDefi_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font-family: calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px; /*changed*/
	text-align: center;
	color: gray;
	padding: 0px 7px;
}



@mixin globalStepDefiLight_Style{
	color: green;
}
/*Step by step future framework*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global Wrapper*/

@mixin globalWrapper_MTL_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	border: 1px solid transparent;	
	width: 100%; /*To be changed*/
	margin: 4px 0px 4px 0px; /*To be changed*/
}
@mixin globalWrapper_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	border: 1px solid transparent;	
	width: 1420px; /*changed*/
	margin: 4px auto 4px auto; /*changed*/
}

/*Global Wrapper*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global Side Nav*/

/*_Side Nav Header*/
@mixin globalSideNavHeader_Style{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	width: 100%;
	margin-top: 7px;
}


@mixin globalSideNavHeaderIcon_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 90px; /*To be changed*/
	width: 90px; /*To be changed*/
}
@mixin globalSideNavHeaderIcon_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 92px; /*changed*/
	width: 92px; /*changed*/
}
@mixin globalSideNavHeaderIcon_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 94px; /*changed*/
	width: 94px; /*changed*/
}


@mixin globalSideNavHeaderTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: bold normal 18px calibri; /*To be changed*/
	text-align: center;
	color: #494C55;
	margin-bottom: 7px;
}
@mixin globalSideNavHeaderTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: bold normal 20px calibri; /*changed*/
	text-align: center;
	color: #494C55;
	margin-bottom: 7px;
}
@mixin globalSideNavHeaderTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: bold normal 22px calibri; /*changed*/
	text-align: center;
	color: #494C55;
	margin-bottom: 7px;
}
/*_Side Nav Header*/


/*_Navigation Menu*/
@mixin globalMainNavMenu_MT_Style{
	--mainNavMenuFSize: 16px; /*To be changed*/
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #494C55;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;
}
@mixin globalMainNavMenu_Laptop_Style{
	--mainNavMenuFSize: 18px; /*changed*/
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #494C55;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;
}
@mixin globalMainNavMenu_Desktop_Style{
	--mainNavMenuFSize: 20px; /*changed*/
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #494C55;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;
}


@mixin globalMainNavIconSize_MT_Style{
	--mainNavMenuIconSize: 20px; /*To be changed*/
}
@mixin globalMainNavIconSize_Laptop_Style{
	--mainNavMenuIconSize: 22px; /*changed*/
}
@mixin globalMainNavIconSize_Desktop_Style{
	--mainNavMenuIconSize: 24px; /*changed*/
}


@mixin globalSubNavMenuWrapLevelOne_Style{
	--subNavMenuWrapBgColor: #E6E6E6;
}
@mixin globalSubNavMenuWrapLevelTwo_Style{
	--subNavMenuWrapBgColor: #d9d4d4;
}


@mixin globalSubNavMenu_MT_Style{	
	--subNavMenuBgColor: transparent;
	--subNavMenuFSize: 16px; /*To be changed*/
	--subNavMenuFColor: #494C55;
	--hoverSubNavMenuBgColor: #247F4F;
	--hoverSubNavMenuFColor: #ffffff;
}
@mixin globalSubNavMenu_Laptop_Style{
	--subNavMenuBgColor: transparent;
	--subNavMenuFSize: 18px; /*changed*/
	--subNavMenuFColor: #494C55;
	--hoverSubNavMenuBgColor: #247F4F;
	--hoverSubNavMenuFColor: #ffffff;
}
@mixin globalSubNavMenu_Desktop_Style{
	--subNavMenuBgColor: transparent;
	--subNavMenuFSize: 20px; /*changed*/
	--subNavMenuFColor: #494C55;
	--hoverSubNavMenuBgColor: #247F4F;
	--hoverSubNavMenuFColor: #ffffff;
}


@mixin globalSubNavIconSize_MT_Style{
	--subNavMenuIconSize: 20px; /*To be changed*/
}
@mixin globalSubNavIconSize_Laptop_Style{
	--subNavMenuIconSize: 22px; /*changed*/
}
@mixin globalSubNavIconSize_Desktop_Style{
	--subNavMenuIconSize: 24px; /*changed*/
}


@mixin globalChevronSize_MT_Style{
	--chevronIconSize: 18px; /*To be changed*/
}
@mixin globalChevronSize_Laptop_Style{
	--chevronIconSize: 20px; /*changed*/
}
@mixin globalChevronSize_Desktop_Style{
	--chevronIconSize: 22px; /*changed*/
}
/*_Navigation Menu*/

/*Global Side Nav*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global Office Page Header*/
@mixin globalOfficePageHeaderTxt_MT_Style{
	--projectTitleTextFSize: 16px; /*To be changed*/
	--projectTitleTextFColor: #494C55;
}
@mixin globalOfficePageHeaderTxt_Laptop_Style{
	--projectTitleTextFSize: 20px; /*changed*/
	--projectTitleTextFColor: #494C55;
}
@mixin globalOfficePageHeaderTxt_Desktop_Style{
	--projectTitleTextFSize: 24px; /*changed*/
	--projectTitleTextFColor: #494C55;
}


@mixin globalOfficePageHeaderIcon_MT_Style{
	--projectTitleUserIconSize: 22px; /*To be changed*/
}
@mixin globalOfficePageHeaderIcon_Laptop_Style{
	--projectTitleUserIconSize: 26px; /*changed*/
}
@mixin globalOfficePageHeaderIcon_Desktop_Style{
	--projectTitleUserIconSize: 30px; /*changed*/
}
/*Global Office Page Header*/
/***********************************************************************************************************************************************************************************************************/