/***********************************************************************************************************************************************************************************************************/
/*Page Header*/
@mixin globalPageHeaderWrap_Style{
	position: relative;
	display: block;
	overflow: visible;
	box-sizing: border-box;	
	background-color: transparent;
	height: auto;
}


@mixin globalPageHeaderItem_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	flex-shrink: 0;
	width: auto;
	height: auto;
}


@mixin pageHeaderBackground_Style{
	background: var(--pageHeaderBackground) center no-repeat;
	background-size: cover; /*changed*/
}


@mixin globalPageHeaderTxt_MT_Style{
	position: relative;	
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: normal bold 22px verdana; /*To be changed*/	
	color: #ffffff;	
	max-width: 300px; /*To be changed*/
	padding: 8px 10px;
}
@mixin globalPageHeaderTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: normal bold 28px verdana; /*changed*/
	color: #ffffff;
	max-width: auto; /*changed*/
	padding: 8px 60px;
}
@mixin globalPageHeaderTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: normal bold 32px verdana; /*changed*/
	color: #ffffff;
	max-width: auto; /*changed*/
	padding: 8px 60px;
}


@mixin globalPageHeaderSubTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: normal normal 16px calibri; /*To be changed*/
	color: #ffffff;	
	max-width: 300px; /*To be changed*/
	padding: 0px 10px 10px 10px;
}
@mixin globalPageHeaderSubTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: normal normal 20px calibri; /*changed*/
	color: #ffffff;
	max-width: 720px; /*changed*/
	padding: 0px 60px 10px 60px;
}
@mixin globalPageHeaderSubTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	word-break: keep-all;
	font: normal normal 24px calibri; /*changed*/
	color: #ffffff;	
	max-width: 920px; /*changed*/
	padding: 0px 60px 10px 60px;
}
/*Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Step by step future framework*/
@mixin globalStepByStepFlex_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: row nowrap;
	justify-content: center;
	width: auto;
	margin: 15px auto 0px auto;
}


@mixin globalStepByStepLine_Style{
	position: absolute;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	width: 100%;
	border: 0.4px solid gray;
	top: 20px;
	left: 0px;
	align-self: flex-start;
}


@mixin globalStepByStepLineLight_Style{
	border: 0.4px solid green;
}


@mixin globalStepByStepItem_Style{
	position: relative;
	display: flex;
	box-sizing: border-box;
	overflow: visible;
	flex-flow: column wrap;
	align-items: center;
	width: 270px;
}


@mixin globalStepNumber_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: gray;
	font-family: calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 22px; /*To be changed*/
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-radius: 50%;
	width: 36px; /*To be changed*/
}
@mixin globalStepNumber_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: gray;
	font-family: calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 24px; /*changed*/
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-radius: 50%;
	width: 38px; /*changed*/
}
@mixin globalStepNumber_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;	
	background-color: gray;
	font-family: calibri;
	font-style: normal;
	font-weight: bold;
	font-size: 28px; /*changed*/
	color: #ffffff;
	padding: 4px;
	text-align: center;
	border-radius: 50%;
	width: 42px; /*changed*/
}


@mixin globalStepNumberLight_Style{
	background-color: green;
}


@mixin globalStepDefi_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font-family: calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px; /*To be changed*/
	text-align: center;
	color: gray;
	padding: 0px 7px;
}
@mixin globalStepDefi_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font-family: calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 22px; /*changed*/
	text-align: center;
	color: gray;
	padding: 0px 7px;
}
@mixin globalStepDefi_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font-family: calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 26px; /*changed*/
	text-align: center;
	color: gray;
	padding: 0px 7px;
}


@mixin globalStepDefiLight_Style{
	color: green;
}
/*Step by step future framework*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global Wrapper*/

@mixin globalWrapper_MTL_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	border: 1px solid transparent;	
	width: 100%; /*To be changed*/
	margin: 4px 0px 4px 0px; /*To be changed*/
}
@mixin globalWrapper_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	border: 1px solid transparent;	
	width: 1420px; /*changed*/
	margin: 4px auto 4px auto; /*changed*/
}

/*Global Wrapper*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global Side Nav*/

/*_ Side Nav Header*/
@mixin globalSideNavHeader_Style{
	position: relative;
	display: block;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	width: 100%;
	margin-top: 7px;
}


@mixin globalSideNavHeaderIcon_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 90px; /*To be changed*/
	width: 90px; /*To be changed*/
}
@mixin globalSideNavHeaderIcon_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 92px; /*changed*/
	width: 92px; /*changed*/
}
@mixin globalSideNavHeaderIcon_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0px auto;
	height: 94px; /*changed*/
	width: 94px; /*changed*/
}


@mixin globalSideNavHeaderTxt_MT_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: bold normal 18px calibri; /*To be changed*/
	text-align: center;
	color: #303238;
	margin-bottom: 7px;
}
@mixin globalSideNavHeaderTxt_Laptop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: bold normal 20px calibri; /*changed*/
	text-align: center;
	color: #303238;
	margin-bottom: 7px;
}
@mixin globalSideNavHeaderTxt_Desktop_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	white-space: normal;
	font: bold normal 22px calibri; /*changed*/
	text-align: center;
	color: #303238;
	margin-bottom: 7px;
}
/*_ Side Nav Header*/


/*_ Navigation Menu*/
@mixin globalMainNavMenu_MT_Style{
	--mainNavMenuFSize: 16px; /*To be changed*/
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #303238;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;
}
@mixin globalMainNavMenu_Laptop_Style{
	--mainNavMenuFSize: 18px; /*changed*/
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #303238;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;
}
@mixin globalMainNavMenu_Desktop_Style{
	--mainNavMenuFSize: 20px; /*changed*/
	--mainNavMenuBgColor: transparent;
	--mainNavMenuFColor: #303238;
	--hoverMainNavMenuBgColor: #247F4F;
	--hoverMainNavMenuFColor: #ffffff;
}


@mixin globalMainNavIconSize_MT_Style{
	--mainNavMenuIconSize: 20px; /*To be changed*/
}
@mixin globalMainNavIconSize_Laptop_Style{
	--mainNavMenuIconSize: 22px; /*changed*/
}
@mixin globalMainNavIconSize_Desktop_Style{
	--mainNavMenuIconSize: 24px; /*changed*/
}


/*_ _subNavMenuIconWrap_RoClass, activeSubNavMenuIconWrap_RoClass*/
@mixin globalSubNavMenuIconWrap_Mobile_Style{
	--subNavMenuIconSize: 20px; /*To be changed*/
}
@mixin globalSubNavMenuIconWrap_Tablet_Style{
	--subNavMenuIconSize: 20px; /*To be changed*/
}
@mixin globalSubNavMenuIconWrap_Laptop_Style{
	--subNavMenuIconSize: 22px; /*changed*/
}
@mixin globalSubNavMenuIconWrap_Desktop_Style{
	--subNavMenuIconSize: 24px; /*changed*/
}
/*_ _subNavMenuIconWrap_RoClass, activeSubNavMenuIconWrap_RoClass*/


/*_ _subNavMenuWrap_RoClass (For first level)*/
@mixin globalSubNavMenuWrapOne_Style{
	--subNavMenuWrapBgColor: #E6E6E6;
}
/*_ _subNavMenuWrap_RoClass (For first level)*/


/*_ _subNavMenu_RoClass*/
@mixin globalSubNavMenu_Style{
	--subNavMenuBgColor: transparent; 	
	--subNavMenuFColor: #303238;	
}
/*_ _subNavMenu_RoClass*/


/*_ _subNavMenu_RoClass, activeSubNavMenu_RoClass*/
@mixin globalSubNavMenuFSize_Mobile_Style{
	--subNavMenuFSize: 16px; /*To be changed*/
}
@mixin globalSubNavMenuFSize_Tablet_Style{
	--subNavMenuFSize: 16px; /*To be changed*/
}
@mixin globalSubNavMenuFSize_Laptop_Style{
	--subNavMenuFSize: 18px; /*changed*/
}
@mixin globalSubNavMenuFSize_Desktop_Style{
	--subNavMenuFSize: 20px; /*changed*/
}
/*_ _subNavMenu_RoClass, activeSubNavMenu_RoClass*/


/*_ _subNavMenu_RoClass, activeSubNavMenu_RoClass*/
@mixin globalHoverSubNavMenu_Style{
	--hoverSubNavMenuBgColor: #247F4F;
	--hoverSubNavMenuFColor: #ffffff;
}
/*_ _subNavMenu_RoClass, activeSubNavMenu_RoClass*/


/*_ _chevronIconWrap_RoClass*/
@mixin globalChevronIconWrap_Mobile_Style{
	--chevronIconSize: 18px; /*To be changed*/
}
@mixin globalChevronIconWrap_Tablet_Style{
	--chevronIconSize: 18px; /*To be changed*/
}
@mixin globalChevronIconWrap_Laptop_Style{
	--chevronIconSize: 20px; /*changed*/
}
@mixin globalChevronIconWrap_Desktop_Style{
	--chevronIconSize: 22px; /*changed*/
}
/*_ _chevronIconWrap_RoClass*/

/*_Navigation Menu*/

/*Global Side Nav*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global Office Page Header*/
@mixin globalOfficePageHeaderTxt_MT_Style{
	--projectTitleTextFSize: 16px; /*To be changed*/
	--projectTitleTextFColor: #303238;
}
@mixin globalOfficePageHeaderTxt_Laptop_Style{
	--projectTitleTextFSize: 20px; /*changed*/
	--projectTitleTextFColor: #303238;
}
@mixin globalOfficePageHeaderTxt_Desktop_Style{
	--projectTitleTextFSize: 24px; /*changed*/
	--projectTitleTextFColor: #303238;
}


@mixin globalOfficePageHeaderIcon_MT_Style{
	--projectTitleUserIconSize: 22px; /*To be changed*/
}
@mixin globalOfficePageHeaderIcon_Laptop_Style{
	--projectTitleUserIconSize: 26px; /*changed*/
}
@mixin globalOfficePageHeaderIcon_Desktop_Style{
	--projectTitleUserIconSize: 30px; /*changed*/
}
/*Global Office Page Header*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Global top navigation wwrapper*/
@mixin globalTopNavWrap_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	padding: 5px;
}
/*Global top navigation wwrapper*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Title label*/
@mixin globalTitleLabelWrap_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background-color: #ffffff;
	padding: 13px;
}


@mixin globalTitleHeaderTxt_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	font-family: calibri;
	font-weight: bold;
	font-style: normal;
	font-size: var(--globalTitleHeaderFSize);
	color: black;
	white-space: normal;
}


@mixin globalTitleDescription_Style{
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	font-family: calibri;
	font-weight: normal;
	font-style: normal;
	font-size: var(--globalTitleDescriptionFSize);
	color: #848893;
	white-space: normal;
}
/*Title label*/
/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/


/***********************************************************************************************************************************************************************************************************/
/*Rogrid Library*/

/*_ Modal*/
@mixin modalmeGeneralProps_Style{
	--modalHeight: auto;
	--modalBorderColor: #008080;
	--modalBodyBgColor: #ffffff;	
	--modalTop: 70px;

	/*--modalWidth: declare to element;*/
}


@mixin modalHeadGeneralProps_Style{
	--modalHeaderBgColor: #008080;
	--modalHeaderFSize: 16px; /*To be changed*/
	--modalHeaderFColor: #ffffff;
}


@mixin modalHeadTxtGeneralProps_Style{
	--modalHeaderFColor: #ffffff;
}


@mixin modalHeadTxt_MT_Style{
	--modalHeaderFSize: 16px; /*To be changed*/	
}
@mixin modalHeadTxt_Laptop_Style{
	--modalHeaderFSize: 18px; /*changed*/
}
@mixin modalHeadTxt_Desktop_Style{
	--modalHeaderFSize: 20px; /*changed*/
}


@mixin modalHeadClose_MT_Style{
	--modalCloseIconSize: 16px; /*To be changed*/
}
@mixin modalHeadClose_Laptop_Style{
	--modalCloseIconSize: 18px; /*changed*/
}	
@mixin modalHeadClose_Desktop_Style{
	--modalCloseIconSize: 20px; /*changed*/
}					
/*_ Modal*/


/*_ Input field*/
@mixin cusInputGeneralProps_Style{
	--customInputColor: black;
}


@mixin customInputFSize_MT_Style{
	--customInputFSize: 15px; /*To be changed*/
}
@mixin customInputFSize_Laptop_Style{
	--customInputFSize: 17px; /*changed*/
}
@mixin customInputFSize_Desktop_Style{
	--customInputFSize: 19px; /*changed*/
}


@mixin customInputAnimFSize_MT_Style{
	--customInputAnimFSize: 12px; /*To be changed*/
}
@mixin customInputAnimFSize_Laptop_Style{
	--customInputAnimFSize: 14px; /*changed*/
}
@mixin customInputAnimFSize_Desktop_Style{
	--customInputAnimFSize: 16px; /*changed*/
}
/*_ Input field*/


/*_ Normal Button*/
@mixin normBtnGeneralProps_Style{
	--normBtnWidth: auto;
	--normBtnPadding: 4px;
	--normBtnBorderWidth: 1px;
	--normBtnBorderColor: #285FF3;
	--normBtnRadius: 4px;
	--normBtnFWeight: normal;	
	--normBtnBgColor: #285FF3;
	--normBtnFcolor: #ffffff;
	--normBtnHovActFColor: #ffffff;
	--normBtnHovActBgColor: #1B85BD;
}


@mixin normBtnFSize_Style{
	--normBtnFSize: 15px; /*To be changed*/
}
/*_ Normal Button*/


/*_ Notification*/
@mixin notiFSize_MT_Style{
	--notiFSize: 16px; /*To be changed*/
}
@mixin notiFSize_Laptop_Style{
	--notiFSize: 18px; /*changed*/
}
@mixin notiFSize_Desktop_Style{
	--notiFSize: 20px; /*changed*/
}


@mixin notiCloseIconSize_MT_Style{
	--notiCloseIconWidthHeight: 16px; /*To be changed*/
}
@mixin notiCloseIconSize_Laptop_Style{
	--notiCloseIconWidthHeight: 18px; /*changed*/
}
@mixin notiCloseIconSize_Desktop_Style{
	--notiCloseIconWidthHeight: 20px; /*changed*/
}
/*_ Notification*/


/*_ Select Dropdown*/

/*_ _ selectDropdownWrap_RoClass*/
@mixin selectDropdownWrapClass_Style{
	--selectDropdownBorderWidth: 2px;	
	--selectDropdownBorderRadius: 4px;
	/*--selectDropdownWidth: value; declare to element*/
}
/*_ _ selectDropdownWrap_RoClass*/


/*_ _ selectDropdownWrap_RoClass, searchOpts_RoClass*/
@mixin selectDropdownBorderColor_Style{
	--selectDropdownBorderColor: #285FF3;
}
/*_ _ selectDropdownWrap_RoClass, searchOpts_RoClass*/


/*_ _ displayedSelectedFlex_RoClass, selectDropdownOptionsWrap_RoClass*/
@mixin selectDropdownBgColor_Style{
	--selectDropdownBgColor: #ffffff;
}
/*_ _ displayedSelectedFlex_RoClass, selectDropdownOptionsWrap_RoClass*/


/*_ _ displayedSelectedIcon_RoClass, optIcon_RoClass*/
@mixin selectDropdownIconSize_Mobile_Style{
	--selectDropdownIconSize: 16px; /*To be changed*/
}
@mixin selectDropdownIconSize_Tablet_Style{
	--selectDropdownIconSize: 16px; /*To be changed*/
}
@mixin selectDropdownIconSize_Laptop_Style{
	--selectDropdownIconSize: 18px; /*changed*/
}
@mixin selectDropdownIconSize_Desktop_Style{
	--selectDropdownIconSize: 20px; /*changed*/
}
/*_ _ displayedSelectedIcon_RoClass, optIcon_RoClass*/


/*_ _ displayedSelectedText_RoClass, optText_RoClass, searchOpts_RoClass*/
@mixin selectDropdownFSize_Mobile_Style{
	--selectDropdownFSize: 14px; /*To be changed*/
}
@mixin selectDropdownFSize_Tablet_Style{
	--selectDropdownFSize: 14px; /*To be changed*/
}
@mixin selectDropdownFSize_Laptop_Style{
	--selectDropdownFSize: 16px; /*changed*/
}
@mixin selectDropdownFSize_Desktop_Style{
	--selectDropdownFSize: 18px; /*changed*/
}
/*_ _ displayedSelectedText_RoClass, optText_RoClass, searchOpts_RoClass*/


/*_ _ displayedSelectedText_RoClass, optText_RoClass*/
@mixin selectDropdownFColor_Style{
	--selectDropdownFColor: #494C55;
}
/*_ _ displayedSelectedText_RoClass, optText_RoClass*/


/*_ _ displayedSelectedChevron_RoClass*/
@mixin selectDropdownChevronSize_Mobile_Style{
	--selectDropdownChevronSize: 23px; /*To be changed*/
}
@mixin selectDropdownChevronSize_Tablet_Style{
	--selectDropdownChevronSize: 23px; /*To be changed*/
}
@mixin selectDropdownChevronSize_Laptop_Style{
	--selectDropdownChevronSize: 25px; /*changed*/
}
@mixin selectDropdownChevronSize_Desktop_Style{
	--selectDropdownChevronSize: 27px; /*changed*/
}
/*_ _ displayedSelectedChevron_RoClass*/


/*_ _ searchOpts_RoClass*/
@mixin searchOptsClass_Style{
	--searchOptsBgColor: #ffffff;
	--searchOptsFColor: #494C55;
}
/*_ _ searchOpts_RoClass*/


/*_ _ selectDropdownOpt_RoClass*/
@mixin selectDropdownOptClass_Style{
	--hoverOptBgColor: #8394B8;
	--hoverOptFColor: #285FF3;
}
/*_ _ selectDropdownOpt_RoClass*/


/*_ _ selectDropdownOptionsWrap_RoClass*/
@mixin selectDropdownOptionsWrapClass_Style{
	--optWrapThumbBgColor: #285FF3;
}


@mixin selectDropdownScrollSize_Mobile_Style{
	--selectDropdownScrollSize: 4px; /*To be changed*/
}
@mixin selectDropdownScrollSize_Tablet_Style{
	--selectDropdownScrollSize: 4px; /*To be changed*/
}
@mixin selectDropdownScrollSize_Laptop_Style{
	--selectDropdownScrollSize: 6px; /*changed*/
}
@mixin selectDropdownScrollSize_Desktop_Style{
	--selectDropdownScrollSize: 8px; /*changed*/
}
/*_ _ selectDropdownOptionsWrap_RoClass*/


/*_ _displayedSelectedResetBtn_RoClass*/
@mixin selectDropdownResetBtnSize_Mobile_Style{
	--selectDropdownResetBtnSize: 23px; /*To be changed*/
}
@mixin selectDropdownResetBtnSize_Tablet_Style{
	--selectDropdownResetBtnSize: 23px; /*To be changed*/
}
@mixin selectDropdownResetBtnSize_Laptop_Style{
	--selectDropdownResetBtnSize: 25px; /*changed*/
}
@mixin selectDropdownResetBtnSize_Desktop_Style{
	--selectDropdownResetBtnSize: 27px; /*changed*/
}
/*_ _displayedSelectedResetBtn_RoClass*/

/*_ Select Dropdown*/


/*_Box Loader*/

/*_ _boxLoaderIcon_RoClass*/
@mixin boxLoaderIconSize_Mobile_Style{
	--boxLoaderIconSize: 60px; /*To be changed*/
}
@mixin boxLoaderIconSize_Tablet_Style{
	--boxLoaderIconSize: 60px; /*To be changed*/
}
@mixin boxLoaderIconSize_Laptop_Style{
	--boxLoaderIconSize: 65px; /*changed*/
}
@mixin boxLoaderIconSize_Desktop_Style{
	--boxLoaderIconSize: 70px; /*changed*/
}
/*_ _boxLoaderIcon_RoClass*/

/*_Box Loader*/

/*Rogrid Library*/
/***********************************************************************************************************************************************************************************************************/